<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title</title>
</head>
<body>
<table width="600" style="margin: 0 auto;min-width: 600px;max-width: 100%">
    <thead >
    <tr bgcolor="#283137">
        <td style="padding: 25px 30px;">
            <a href="{{app.request.getSchemeAndHttpHost()}}" target="_blank">
                <img src="{{app.request.getSchemeAndHttpHost()}}{{ asset('img/Yottabook-email.png') }}" alt="Yottabook" width="150">
            </a>
        </td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td style="padding: 30px;">
            <p style="font-size: 16px;color:#000000;font-style: italic;margin:0 0 25px;font-weight: bold">
                Hi FR {{ name }},</p>
            <p style="font-size: 16px;color:#000000">If you forgot your password for Yottabook account, you can reset and
                choose a new one by clicking button below . </p>
            <a href="{{ link }}" style="display: block;background-color:#1abc9c;color:#fff;text-decoration: none;text-align: center;
            padding: 15px 0;border-radius: 5px;-webkit-border-radius: 5px;-moz-border-radius: 5px;margin:30px 0;font-size: 16px;"
               bgcolor="#1abc9c" align="center">Choose a new password</a>
            <p style="margin-bottom:10px;font-size: 16px;color:#000000">or verify using this link </p>
            <a href="{{ link }}" style="color: #1abc9c;text-decoration: none">{{ link }}</a>
            <p style="margin: 30px 0;color:#808080;font-size: 16px;">If you don’t ask to verify this address, you can ignore this email</p>

            <p style="padding-top: 30px; border-top:1px solid; margin: 0;font-size: 16px;color:#000000">
                Thanks
            </p>
            <p style="font-size: 16px;margin: 0;color:#000000">
                Yottabook team.
            </p>
        </td>

    </tr>

    </tbody>
    <tfoot bgcolor="#283137">
    <tr>
        <td style="text-align: center;padding: 20px 30px;background-color:#283137" align="center" bgcolor="#283137">
            <ul style="list-style: none;text-align: center;padding: 0;margin: 0 0 10px" align="center">
                <li style="display: inline-block"><a href="https://www.facebook.com/Yottabook/" style="color:#fff;text-decoration: none;font-size: 14px" target="_blank">Facebook</a></li>
                <li style="border-left: 1px solid #ffffff;height: 10px;display: inline-block;margin:0 15px;width: 1px;"></li>
                <li style="display: inline-block"><a href="https://twitter.com/YottaBook" style="color:#fff;text-decoration: none;font-size: 14px" target="_blank">Twitter</a></li>
                <li style="border-left: 1px solid #ffffff;height: 10px;display: inline-block;margin:0 15px;width: 1px;"></li>
                <li style="display: inline-block"><a href="https://www.instagram.com/yottabook/" style="color:#fff;text-decoration: none;font-size: 14px" target="_blank">Instagram</a></li>
                <li style="border-left: 1px solid #ffffff;height: 10px;display: inline-block;margin:0 15px;width: 1px;"></li>
                <li style="display: inline-block"><a href="https://www.pinterest.fr/yottabook/" style="color:#fff;text-decoration: none;font-size: 14px" target="_blank">Pinterest</a></li>
            </ul>
            <p style="display: inline-block;text-align: center;color:#c3c3c3;font-size: 14px;border-top:1px solid #1abc9c;margin: 0;padding-top: 10px;" align="center">Copyright &copy; 2018 Yottabook. All rights
                reserved. </p>
            <ul style="list-style: none;text-align: center;padding: 0;margin: 10px 0 0" align="center">
                <li style="display: inline-block"><a href="" style="color:#c3c3c3;text-decoration: none;font-size: 14px" target="_blank">Terms of User</a></li>
                <li style="border-left: 1px solid #c3c3c3;height: 10px;display: inline-block;margin:0 15px;width: 1px;"></li>
                <li style="display: inline-block"><a href="" style="color:#c3c3c3;text-decoration: none;font-size: 14px" target="_blank">Privacy Policy</a></li>
            </ul>
        </td>
    </tr>

    </tfoot>
</table>
</body>
</html>