{# app/Resources/views/Emails/registration.html.twig #}
<h3>You did it! You subscribed!</h3>

You're successfully subscribe.

Thanks for subscribtion!

{# Makes an absolute URL to the /images/logo.png file #}
<img src="{{ absolute_url(asset('img/logo.png')) }}">