{% extends 'timeline.html.twig' %}

{% block content %}
    <section class="timeline-section-discover">
        <!--SLIDEBAR-->
        {#{% for items in result  %}#}
        <div class="slidebar">
            {#<p>{{ items.title }}</p>#}
        </div>
        {#{% endfor %}#}
        <!--END SLIDEBAR-->
        <!--TOP RATED BOOKS-->
        <div class="topRatedBooks">
            <div class="topBlock">top rated books</div>
            <div class="ratedBooksRow">
                {% for items in topratedBook %}
                    <div class="ratedBooks">
                        <div class="ratedBookImage">
                            {{ items['data'].image | raw }}
                        </div>
                        <p>{{ items['data'].title }}</p>
                        <p class="bookAuthor">{{ items['data'].authors }}</p>
                        <p>{{ items['data'].publisher }}</p>
                        <div class="starsBackground">
                            <div class="rateCount" style="width:{{ 20 * items['rate'] }}%;" >
                                <div id="rating-{{ items['data'].id }} ">
                                    <input type="radio" id="star5-{{ items['data'].id }}"
                                           name="rating-{{ items['data'].id }} " value="5"/><label
                                            for="star5-{{ items['data'].id }}" title="Rocks!"></label>
                                    <input type="radio" id="star4-{{ items['data'].id }}"
                                           name="rating-{{ items['data'].id }} " value="4"/><label
                                            for="star4-{{ items['data'].id }}" title="Pretty good"></label>
                                    <input type="radio" id="star3-{{ items['data'].id }}"
                                           name="rating-{{ items['data'].id }} " value="3"/><label
                                            for="star3-{{ items['data'].id }}" title="Meh"></label>
                                    <input type="radio" id="star2-{{ items['data'].id }}"
                                           name="rating-{{ items['data'].id }} " value="2"/><label
                                            for="star2-{{ items['data'].id }}" title="Kinda bad"></label>
                                    <input type="radio" id="star1-{{ items['data'].id }}"
                                           name="rating-{{ items['data'].id }} " value="1"/><label
                                            for="star1-{{ items['data'].id }}" title="Sucks big time"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="nextButtonTop icon show-icon">&#xe809;</div>
            <div class="previewButtonTop icon show-icon">&#xe80c;</div>
        </div>
        <!--END TOP RATED BOOKS-->

        <!--LAST RATED BOOKS-->
        <div class="lastRatedBooks ">
            <div class="topBlock">last rated books</div>
            <div class="ratedBooksRow">
                {% for items in lastRatedBooks %}
                    <div class="ratedBooks">
                        <div class="ratedBookImage">
                            {{ items['data'].image | raw }}
                        </div>
                        <p>{{ items['data'].title }}</p>
                        <p class="bookAuthor">{{ items['data'].authors }}</p>
                        <p>{{ items['data'].publisher }}</p>
                        <div class="starsBackground">
                            <div class="rateCount" style="width:{{ 20 * items['rate'] }}%;">
                                <div id="lastRating-{{ items['data'].id }}">
                                    <input type="radio" id="star5-last-{{ items['data'].id }}"
                                           name="rating-last-{{ items['data'].id }} " value="5"/><label
                                            for="star5-last-{{ items['data'].id }}" title="Rocks!"></label>
                                    <input type="radio" id="star4-last-{{ items['data'].id }}"
                                           name="rating-last-{{ items['data'].id }} " value="4"/><label
                                            for="star4-last-{{ items['data'].id }}" title="Pretty good"></label>
                                    <input type="radio" id="star3-last-{{ items['data'].id }}"
                                           name="rating-last-{{ items['data'].id }} " value="3"/><label
                                            for="star3-last-{{ items['data'].id }}" title="Meh"></label>
                                    <input type="radio" id="star2-last-{{ items['data'].id }}"
                                           name="rating-last-{{ items['data'].id }} " value="2"/><label
                                            for="star2-last-{{ items['data'].id }}" title="Kinda bad"></label>
                                    <input type="radio" id="star1-last-{{ items['data'].id }}"
                                           name="rating-last-{{ items['data'].id }} " value="1"/><label
                                            for="star1-last-{{ items['data'].id }}" title="Sucks big time"></label>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="nextButtonLast icon show-icon">&#xe809;</div>
            <div class="previewButtonLast icon show-icon">&#xe80c;</div>
        </div>
        <!--END LAST RATED BOOKS-->

        <!--TOP MUSIC-->
        <div class="topMusic">
            <div class="topBlock">top musics used in books</div>
            <div class="musicListRow">
                <div class="musicItems">
                    <div class="musicBackground">
                        <div class="music">
                            <div class="play"></div>
                        </div>
                    </div>
                    <p>Music 1 </p>
                    <p>Author</p>
                </div>
                <div class="musicItems">
                    <div class="musicBackground">
                        <div class="music">
                            <div class="play"></div>
                        </div>
                    </div>
                    <p>Music 2</p>
                    <p>Author</p>
                </div>
                <div class="musicItems">
                    <div class="musicBackground">
                        <div class="music">
                            <div class="play"></div>
                        </div>
                    </div>
                    <p>Music 3</p>
                    <p>Author</p>
                </div>
                <div class="musicItems">
                    <div class="musicBackground">
                        <div class="music">
                            <div class="play"></div>
                        </div>
                    </div>
                    <p>Music 4 </p>
                    <p>Author</p>
                </div>
                <div class="musicItems">
                    <div class="musicBackground">
                        <div class="music">
                            <div class="play"></div>
                        </div>
                    </div>
                    <p>Music 5</p>
                    <p>Author</p>
                </div>
                <div class="musicItems">
                    <div class="musicBackground">
                        <div class="music">
                            <div class="play"></div>
                        </div>
                    </div>
                    <p>Music 6 </p>
                    <p>Author</p>
                </div>
                <div class="musicItems">
                    <div class="musicBackground">
                        <div class="music">
                            <div class="play"></div>
                        </div>
                    </div>
                    <p>Music 7</p>
                    <p>Author</p>
                </div>
                <div class="musicItems">
                    <div class="musicBackground">
                        <div class="music">
                            <div class="play"></div>
                        </div>
                    </div>
                    <p>Music 8</p>
                    <p>Author</p>
                </div>
                <div class="musicItems">
                    <div class="musicBackground">
                        <div class="music">
                            <div class="play"></div>
                        </div>
                    </div>
                    <p>Music 9</p>
                    <p>Author</p>
                </div>
            </div>
            <div class="nextButtonMusic icon show-icon">&#xe809;</div>
            <div class="previewButtonMusic icon show-icon">&#xe80c;</div>
        </div>
        <!--END TOP MUSIC-->

        <!--ADS-->
        <div class="adsBig">ADS</div>
        <!--END ADS -->

        <!--MAP-->
        <div class="map slidebar">
            <div class="topBlock">find a local bookstore near you</div>
        </div>
        <!--END MAP-->

    </section>
{% endblock %}