<!DOCTYPE HTML>

<html lang="en" ng-app="appYotta" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:fb="http://ogp.me/ns/fb#">
<head>
    <meta charset="utf-8">

    <title>Yotta</title>
    <meta name="keywords" content=""/>
    <meta name="description" content="YottaBook descritption"/>
    <meta name="author" content="SitePoint">

    <meta property="og:image" content="http://dev4.wedoapps.eu/img/YottaBook.png">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="1024">
    <meta property="og:image:height" content="1024">

    <meta name="twitter:card" content="summary" />


    <link rel="stylesheet" href="{{ asset('assets/style.css') }}">
</head>

<body>
<header>
    <div class="header">
        <img class="logo" src="/img/logo.png">
        <h1>Yottabook </h1>
        <span>Pump up your readings!</span>
    </div>
</header>

{% block body %}{% endblock %}


{% include 'YottaBundle:Default:footer.html.twig' %}

{#<footer>#}
    {#<div class="footer">#}
        {#<div class="contactUs">#}
            {#<span>CONTACT US</span>#}
            {#<ul>#}
                {#<li><a href="#">Paris</a></li>#}
                {#<li><a href="#">Erevan</a></li>#}
                {#<li><a href="#">San Francisco</a></li>#}
            {#</ul>#}
        {#</div>#}
        {#<div class="secondBlock">#}
            {#<div id="firstDiv">GET YOTTABOOK THE</div>#}
            {#<div class="googleImg"><a href="#"><img src="{{ asset('img/google.png') }}"></a></div>#}
            {#<div class="googleImg"><a href="#"><img src="{{ asset('img/apple.png') }}"></a></div>#}
            {#<div class="followUs">#}
                {#<span id="follow">FOLLOW US</span>#}
                {#<div class="footerSocial-icon">#}
                    {#<a class="footerSocial-icon ficon-fb" target="_blank" href="https://www.facebook.com/Yottabook"></a>#}
                    {#<a class="footerSocial-icon ficon-tw" target="_blank" href="https://twitter.com/YottaBook"></a>#}
                    {#<a class="footerSocial-icon ficon-gp" target="_blank" href="#"></a>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
        {#<div class="newsletter">#}
            {#<span class="newsletter-title">NEWSLETTER</span>#}
            {#<input type="text" name="name" value="" placeholder="ENTER YOUR EMAIL" id="textInput">#}
            {#<input type="button" class="button-submit  right active" value="SUBSCRIBE" id="discover_subscribe">#}
            {#<span class="notify-tooltip-error" style=" display: none;">#}
                {#<span ng-bind="error" class="ng-binding"></span>#}
                {#<span class="rect"> </span>#}
            {#</span>#}
        {#</div>#}
        {#<div class="footerLine">© Yottabook 2017</div>#}
    {#</div>#}
{#</footer>#}
<script src="{{ asset('js/jquery.min.js') }}"></script>
<script src="{{ asset('js/angular.min.js') }}"></script>
<script src="{{ asset('js/angular-route.js') }}"></script>
{#<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>#}
{#<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>#}
<script src="{{ asset('js/oauth.min.js') }}"></script>
<script src="{{ asset('js/discover.js') }}"></script>
<script src="{{ asset('js/script.js') }}"></script>
<script src="{{ asset('js/myjquery.js') }}"></script>
<script src="{{ asset('js/like.js') }}"></script>
</body>

</html>
