<!DOCTYPE HTML>
<html lang="en" data-ng-app="appYotta">
<head>
    <meta charset="utf-8">
    <title>Yotta</title>

    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <meta name="author" content="SitePoint">
    <meta property="og:url" content="http://dev4.wedoapps.eu/book/525"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="Yottabook"/>
    <meta property="og:description"
          content="The Fool (Khent) by Raffi (the Great Novelist of Armenia) by Hovanes Tumanyan Publisher: IndoEuropeanPublishing.com Publish Date: January, 29 Language: English ISBN -10: 1604440325 # tag1 | tag2 | tag3 | tag4 | hello | tag5 | tag6 | "/>
    <meta property="og:image" content=""/>
    <meta name="twitter:card" content="summary"/>
    <meta name="google-signin-client_id"
          content="368113059721-ob70fd1u749u8rlqg0g43nmij09i7epk.apps.googleusercontent.com">

    {% block head %}
        <link rel="stylesheet" href="{{ asset('assets/profile.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/miniChat.css') }}"/>
        <link rel="stylesheet" href="{{ asset('assets/individual_book.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/recomended_books.css') }}">

        <script src="{{ asset('js/angular.min.js') }}"></script>
        <script src="{{ asset('js/angular-route.js') }}"></script>
        <script src="{{ asset('js/sanitize.min.js') }}"></script>
        <link rel="stylesheet" href="{{ asset('lib/bower_components/slick-carousel/slick/slick.css') }}">

        <script src="https://cdn.pubnub.com/sdk/javascript/pubnub.4.8.0.js"></script>
        <link rel="stylesheet" href="{{ asset('assets/slick.css') }}">

    {% endblock %}
</head>

<body class="ng-cloak">
{% block start %}
    {% include '@Yotta/Popup/yetti.twig' %}
    {% include '@Yotta/Popup/alert.twig' %}
    {% include '@Yotta/Popup/ShowPicturePopup.twig' %}
{% endblock %}
<div class="navManu">
    <div ng-controller="profileController">
        <nav class="nav-menu">
            <div class="user-info">
                <a href="/profile/edit">
                    <div class="us-avatar">
                        {{ user_data.picture | raw }}
                    </div>
                    <div class="display-author">
                        <div class="menu-us-display-name">{{ user_data.firstname }} {{ user_data.lastname }}</div>
                        <div class="us-name">{{ user_data.username }} </div>
                    </div>
                </a>
            </div>
            <div class="menu">
                <ul>
                    <li class="nav-item"><a href="{{ path('timeline') }}">Timeline</a></li>
                    <li class="nav-item"><a href="/friends">Friends</a></li>
                    <li class="nav-item"><a href="/library">Library</a></li>
                    <li class="nav-item"><a href="{{ asset('statistics') }}">Statistics</a></li>
                </ul>
            </div>
            <div class="clear"></div>

            <div class="nav-footer">
                <a href=""><i class="menu-icon icon-">&#xe800;</i></a>
                <a class="logout_user_class" data-user-log="{{ user_id }}" href="{{ asset(path('logout')) }}"><i
                            class="menu-icon icon-">&#xe801;</i></a>
            </div>
        </nav>
    </div>
</div>
<div class="mainContainer" id="mainContainer">
    <div class="childContent">
        <div class="mainHeader">
            <header id="headerId" data-ng-controller="headerController">
                <div class="header-profile">
                    <div class="notificationBarMain">
                        <div class="notification-bar">
                            <ul>
                                <li class="nav-bar"><i class="menu-icon icon-menu">&#xf008;</i></li>
                                <li class="notification">
                                    <i class="menu-icon  icon-bell-alt">
                                        <a data-ng-href="/notification">&#xf0f3;</a>
                                    </i>
                                    <div class="notificationCount" style="display: none"></div>
                                </li>
                                <li class="message" data-ng-click="myFunc(false)"><i class="menu-icon icon-mail-alt">&#xf0e0;</i>
                                    {% verbatim %}
                                        <div  class="newMessCount" ng-style="disableTagButton" ng-hide="hideMessageCount">
                                            {{ messageCount }}
                                        </div>
                                        <input type='hidden' value="" id="lastSenderId">
                                    {% endverbatim %}
                                </li>
                                <li class="avatar"><a href="/profile/edit">{{ user_data.picture | raw }}</a></li>
                            </ul>
                        </div>
                        <div id="triangle-topleft"></div>
                    </div>
                    <div class="search-area">
                        <div id="search-param">

                            <input type="text" name="search" placeholder="SEARCH BOOKS"
                                   ng-keyup="$event.keyCode == 13 ? searchBook() : null" id="search"
                                   ng-model="searchText">
                            <span> Advanced</span>
                            <i class="menu-icon icon-search" ng-click="searchBook()">&#xe807;</i>
                        </div>
                        <div class="search-area-block white">
                            <div class="search-area-block-left left">
                                <div class="search-area-title">Select search area:</div>
                                <div class="radio1">
                                    <input type="radio" id="radio1-1" name="radio1" value="amazon">
                                    <label for="radio1-1" class="amazon_search">Amazon</label><br>
                                    <input type="radio" id="radio1-2" name="radio1" value="yottabook" checked="checked">
                                    <label for="radio1-2" class="yottabook_search">Yottabook</label>
                                </div>
                                <div class="search-area-title">Select search filter:</div>
                                <div class="radio2">
                                    <input type="radio" id="radio2-1" checked="checked" name="radio2" value="by_all">
                                    <label for="radio2-1"> by All</label><br>

                                    <input type="radio" id="radio2-2" name="radio2" value="by_author">
                                    <label for="radio2-2">by Author</label><br>

                                    <input type="radio" id="radio2-3" name="radio2" value="by_title">
                                    <label for="radio2-3">by Title</label><br>

                                    <input type="radio" id="radio2-4" name="radio2" value="by_music" class="by_music">
                                    <label for="radio2-4" class="by_music_label">by Music</label><br>

                                    <input type="radio" id="radio2-5" name="radio2" value="by_isbn">
                                    <label for="radio2-5">by ISBN number</label><br>
                                </div>
                            </div>
                            <div class="search-area-block-right right">
                                <div class="search-area-title">Select search language:</div>
                                <div class="radio3">
                                    <input type="radio" id="radio3-1" name="radio3" value="english">
                                    <label for="radio3-1"> English</label><br>

                                    <input type="radio" id="radio3-2" name="radio3" value="french">
                                    <label for="radio3-2">French</label><br>

                                    <input type="radio" id="radio3-3" name="radio3" value="spanish">
                                    <label for="radio3-3">Spanish</label><br>

                                    <input type="radio" id="radio3-4" name="radio3" value="norwegian">
                                    <label for="radio3-4">Norwegian</label><br>

                                    <input type="radio" id="radio3-5" name="radio3" value="italian">
                                    <label for="radio3-5">Italian</label><br>

                                    <input type="radio" id="radio3-6" name="radio3" value="german">
                                    <label for="radio3-6">German</label><br>

                                    <input type="radio" id="radio3-7" name="radio3" value="dutch">
                                    <label for="radio3-7">Dutch</label><br>

                                    <input type="radio" id="radio3-8" name="radio3" value="japanese">
                                    <label for="radio3-8">Japanese</label><br>
                                    <input type="radio" id="radio3-9" name="radio3" value="" checked="checked">
                                    <label for="radio3-9">byAll</label><br>
                                </div>
                            </div>
                            <div class="clear"></div>
                            <div class="search-area-block-bottom">
                                <span class="left" ng-click="resetDefaultParams()">Reset to Default</span>
                                <span class="right" id="search-ok-button">OK</span>
                            </div>
                        </div>
                    </div>

                    <div class="header-logo">
                        <a href="/timeline">
                            <img class="logo" src="/img/logo.png">
                            <h1>Yottabook</h1>
                        </a>
                    </div>
                    <div class="clear"></div>


                    <!-- mini chat -->
                    {% verbatim %}
                <div class="chat" >
                        <span>
                            <p class="topItems">Messages({{unreadMessageCount}})</p>
                            <p class="topItems" id="MarkAll"><a href="#">Mark all read</a></p>
                        </span>
                        <div class="chat-items-wrap">
                            <div id="clickUserItem" ng-repeat="user in chatUsers" data-id='{{ user.friend_id }}' id='{{user.friend_id}}' class="mess-{{ user.status }} clearfix chat-items"
                             data-ng-click="fixedChat(user.user_id, user.friend_id, user.message_id, user.username,true)" >
                                <img data-ng-src="{{user.picture}}" alt="image" title="image" />
                                <div class="chat-user-name">
                                 <h3>{{user.username}}{{user.unread_messages_count > 0 ? " ("+user.unread_messages_count+")" : ""}}</h3>
                                <p ng-bind-html="user.message"></p>
                                </div>
                            </div>
                        </div>
                </div>
                        {% endverbatim %}

                    <!-- fixed chat -->
                    {% verbatim %}

    <div class="fixedChat" ng-show="showFixChat">
        <div class="fixedChatHeader">
            <p class="friend-name" id="{{friend_id}}">{{ friend_username }}</p>
            <p>online</p>
            <img class="fixedChatClose" data-ng-click="closeFixedChat()" data-ng-src="/img/icons/close.png">
            <img data-ng-src="/img/icons/row.png" data-ng-click="chatPopup(friend_id)" class="fullChat">
            <img class="fixedChatAllUsers" data-ng-src="/img/icons/user.png">
        </div>
        <div class="fixedChatusersList left">
            <div>
            <ul>
                 <li ng-repeat="user in chatUsers" id="fixChatUser-{{user.friend_id}}"
                 data-ng-click ="fixedChat(user.user_id, user.friend_id, user.message_id, user.username, chatUsers, false)"
                 ng-class="{true: 'activeConversation', false : ''}[user_id_d == user.friend_id]">
                   <div class="image-block"> <img data-ng-src="{{user.picture}}"></div>
                   <p class="username">{{user.username}}</p>
                 </li>
            </ul>
        </div>
        </div>
        <div class="fixedChatConversation right clearfix">
            <div class="messages-wrap" >
                <ul id="message_list" >
                    <li>
                     {% endverbatim %}
                    <img class="load_more_loading" src="{{ asset('img/loading.gif') }}">
                    {% verbatim %}
                    </li>
                    <li class="clearfix active" ng-repeat="items in conversation">
                          <div  ng-if="items.friendId == current_user"  class="no-your-message">
                              <span class="mess-date">{{items.chatDate.date | date : "MMM d, HH:mm" }}</span>
                              <div class="image-block"> <img data-ng-src="{{items.picture}}"></div>
                              <div  class="mess-items"  ng-if="items.type == 'text'"  ng-class="mess-items-{{items.type}}" ><p ng-bind-html="items.message" > </p></div>
                              <div class="mess-items-image"  ng-if="items.type == 'image'" ng-class="mess-items-{{items.type}}">
                                    <div class='fixedChatMessageImage'>
                                    <img data-ng-src="/{{ items.message.replace('.jpg','preview.jpg')}}" alt="image" title="image"
                                        data-ng-click="openImage(items.message.replace('.jpg','preview.jpg'))">
                                    </div>
                              </div>
                           </div>
                          <div  ng-if="items.friendId != current_user"  class="your-message">
                              <span  class="mess-date">{{items.chatDate.date | date : "MMM d, HH:mm" }}</span>
                              <div class="mess-items" ng-if="items.type == 'text'"  ng-class="mess-items-{{items.type }}" ><p ng-bind-html="items.message"></p></div>
                              <div class="mess-items-image" ng-if="items.type == 'image'" ng-class="mess-items-{{items.type}}">
                                  <div class='fixedChatMessageImage'>
                                     <img data-ng-src="/{{ items.message.replace('.jpg','preview.jpg')}}" alt="image" title="image"
                                        data-ng-click="openImage(items.message.replace('.jpg','preview.jpg'))">
                                  </div>
                              </div>
                           </div>
                    </li>
                </ul>
            </div>
            <div class="fixedChatArea">
                <textarea id="mini-chat-message" placeholder="Let's talk together..."></textarea>
                <div id="send-message" data-ng-click="sendMessage('text')"></div>
                <div data-ng-type="file" class="add-photo"></div>
                <form id="imageUploadForm" enctype="multipart/form-data" method="post" style="display:none;">
                       <input type="file" style="widows:0; height:0" id="ImageBrowse" hidden="hidden" name="photo" size="30"/>
                </form>
                <div class="smiles"></div>
                <div class="emoticons">
				    <div ng-repeat="em in emotes" class="emote" data-emote= "{{em.x}}">
                        <span class="emoji face-{{em.y}}" draggable="false"></span>
                    </div>
                </div>
            </div>
        </div>
 </div>
    {% endverbatim %}

                </div>
            </header>
        </div>
        <div class="breadcrump">
            {{ wo_render_breadcrumbs() }}
        </div>
        {% block body %} {% endblock %}

        {% block aside %}
        <aside class="aside">
            {% verbatim %}
            <div class="online-friends-block" data-ng-controller="OnlineController">
                <div class="online-friends">Friends online</div>
                <div class="online-friends-wrap">
                    <ul>




                            <li ng-repeat="onlineUsr in onlineUsers" ng-click="openUserProfile(onlineUsr.user_id)" >
                                <div class="online-friends-img left">
                                    <a href="/user/{{ onlineUsr.user_id }}"><img data-ng-src="{{onlineUsr.picture ? onlineUsr.picture : '/img/defaultUserImg.png'}}" alt="image" title="image" /></a>
                                </div>
                                <div class="online-friends-name left">{{ onlineUsr.firstname }} {{ onlineUsr.lastname }}</div>
                                <div class="online-friends-active right"></div>
                                <div class="clear"></div>
                            </li>
                    </ul>
                </div>
            </div>
            {% endverbatim %}
            <div class="recomended-books-block">
                <div class="recomended-books">Recommended books</div>
                <div class="backgroun-trans"></div>
                <div class="recomended-book">
                    {% for recomendedBook in recomendedBooks %}
                        <div class="recomended-books-item">
                            <div class="recomended-books-item-image-block">
                                <div class="recomended-books-image-wrap">
                                    <a href="/book/{{ recomendedBook.book_id }}">{{ recomendedBook.image | raw }}</a>
                                </div>
                            </div>
                            <div class="recomended-books-item-text-block"
                                 data-recomendet="{{ recomendedBook.book_id }}">
                                <div class="recomended-books-item-text">{{ recomendedBook.b_count }} users have the
                                    book
                                </div>
                                <a class="add-book click_book_{{ recomendedBook.book_id }}">Add
                                    book</a>
                            </div>
                            <div class="clear"></div>
                        </div>
                    {% endfor %}
                </div>
                <div class="clear"></div>
            </div>
        </aside>
        <div class="copyright left">&#169; Yottabook 2016</div>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>

    {% endblock %}

</div>

</body>
{% block mainAssets %}
    <script src="{{ asset('js/CreateAppYottaAngularModul.js') }}"></script>
    <script src="{{ asset('lib/bower_components/angular-slick/angular-slick.js') }}" defer></script>
    <script src="{{ asset('lib/bower_components/slick-carousel/slick/slick.js') }}" defer></script>

    <script src="{{ asset('js/jquery.min.js') }}"></script>
    <script src="{{ asset('js/myjquery.js') }}"></script>
    <script src="{{ asset('js/oauth.min.js') }}"></script>
    <script src="{{ asset('lib/pagination/jquery.twbsPagination.min.js') }}"></script>
    <script src="{{ asset('js/profile.js') }}"></script>
    <script src="{{ asset('js/like.js') }}"></script>

    <script src="{{ asset('js/chatFunctions.js') }}"></script>

    <script src="{{ asset('js/notification.js') }}"></script>
    <script src="{{ asset('js/pubnub.js') }}"></script>
    <script src="{{ asset('js/myAngular.js') }}" defer></script>
{% endblock %}


</html>


