<!DOCTYPE HTML>
<html lang="en">
{% block head %}
    <meta charset="utf-8">

    <title>Yotta</title>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <meta name="author" content="SitePoint">
    {% block stylesheetMain %}
     <link rel="stylesheet" href="{{ asset('assets/profile.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/discoverMedia.css') }}">
        <link rel="stylesheet" href="{{ asset('lib/bower_components/slick-carousel/slick/slick.css') }}">
        <link rel="stylesheet" href="{{ asset('lib/bower_components/slick-carousel/slick/slick-theme.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/individual_book.css') }}">
    {% endblock %}
    {% block childStyleSheet %}  {% endblock %}
{% block header %}
    <div class="header-profile">
        <div class="joinUs">
            <div id="join" onclick="location.href='/login'"><b>JOIN US</b> AND FIND YOUR NEXT BOOK!</div>
        </div>
        <div id="triangle-topleft"></div>
        <div class="left search-area">
            <div id="search-param">
                <div>
                    <input type="text" name="search" placeholder="SEARCH BOOKS" id="search" />
                </div>
                <span>
                    Advanced
                 </span>
                <i class="menu-icon icon-search" onclick="searchBook()">&#xe807;</i>

            </div>
            <div class="search-area-block white">
                <div class="search-area-block-left left">
                    <div class="search-area-title">Select search area:</div>
                    <div class="radio1">
                        <input type="radio" id="radio1-1" name="radio1" value="amazon" >
                        <label for="radio1-1">Amazon</label><br>
                        <input type="radio" id="radio1-2"  name="radio1" value="yottabook">
                        <label for="radio1-2">Yottabook</label>
                    </div>
                    <div class="search-area-title">Select search filter:</div>
                    <div class="radio2">
                        <input type="radio" id="radio2-1"  name="radio2" value="by_all">
                        <label for="radio2-1"> by All</label><br>

                        <input type="radio" id="radio2-2"  name="radio2" value="by_author">
                        <label for="radio2-2">by Author</label><br>

                        <input type="radio" id="radio2-3"  name="radio2" value="by_title">
                        <label for="radio2-3">by Title</label><br>

                        <input type="radio" id="radio2-5" name="radio2" value="by_isbn" checked="checked">
                        <label for="radio2-5">by ISBN number</label><br>
                    </div>
                </div>
                <div class="search-area-block-right right">
                    <div class="search-area-title">Select search language:</div>
                    <div class="radio3">
                        <input type="radio" id="radio3-1"  name="radio3" value="english">
                        <label for="radio3-1"> English</label><br>

                        <input type="radio" id="radio3-2" name="radio3" value="french">
                        <label for="radio3-2">French</label><br>

                        <input type="radio" id="radio3-3" name="radio3" value="spanish">
                        <label for="radio3-3">Spanish</label><br>

                        <input type="radio" id="radio3-4" name="radio3" value="norwegian">
                        <label for="radio3-4">Norwegian</label><br>

                        <input type="radio" id="radio3-5" name="radio3" value="italian">
                        <label for="radio3-5">Italian</label><br>

                        <input type="radio" id="radio3-6" name="radio3" value="german">
                        <label for="radio3-6">German</label><br>

                        <input type="radio" id="radio3-7" name="radio3" value="dutch">
                        <label for="radio3-7">Dutch</label><br>

                        <input type="radio" id="radio3-8" name="radio3" value="japanese">
                        <label for="radio3-8">Japanese</label><br>
                        <input type="radio" id="radio3-9" name="radio3" value="" checked="checked">
                        <label for="radio3-9">byAll</label><br>
                    </div>
                </div>
                <div class="clear"></div>
                <div class="search-area-block-bottom" onclick="resetDefaultParams()">
                    <span>Reset to Default</span>
                </div>
            </div>
        </div>
        <div class="header-logo">
            <a href="/timeline">
                <img class="logo" src="/img/logo.png">
                <h1>Yottabook</h1>
            </a>
        </div>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
{% endblock %}
    {% block content %} {% endblock %}
{% block aside %}
    <aside class="homeAside">
        <div class="questions-block fourQuestion">

            <div class="questionSlide">
                {#<div class="lazy">#}
                <div class="questionSlideItems" ><p>Welcome</p></div>
                <div class="questionSlideItems" >
                    <div class="question-top-block">answers the questions?</div>
                    <div class="questionItem">
                        <div class="question">What is my favorite style?</div>
                        <div class="answers">
                            <input type="text" name="firstAnswer" title="answer" />
                        </div>
                    </div>
                    <div class="questionItem">What is my local bookstore?</div>
                    <div class="questionItem">What is my zipcode?</div>
                </div>
                <div class="questionSlideItems" ><h1>3</h1></div>
            </div>
            {#</div>#}
            <div class="nextButtonQuestions icon show-icon">&#xe809;</div>
        </div>

        {#<div class="questions-block ads">ADS</div>#}
        <div class="questions-block agenda">AGENDA
        </div>
        <div class="online-friends">online yotters</div>
        <div class="yotter">
            <div class="yottersRow">
                {% for items in yotters %}
                    {#<div class="onlineYotters" id="{{ items['id'] }}"> {{ items['picture'] | raw }} </div>#}
                    <div class="onlineYotters" id="{{ items['id'] }}">
                        <img src="{{ items['picture'] }}" alt='image' title='image' onerror="this.src='/img/defaultUserImg.png'">
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="new-release-book">
            <div class="header-block">new release</div>
            <div class="newReleaseItem">
                <div class="newReleaseImageBlock">
                    <div class="newReleaseImgBlock">
                        <img src="img/image_not_available.jpg" alt="book image" title="book image"/>
                    </div>
                </div>
                <div class=" newRelease">
                    <p>Book title</p>
                    <p>Author</p>
                    <p>Publisher</p>
                </div>
                <div class="newReleaseButtons">
                    <a herf="book/{{ book.book_id }}" class="leranMore">Learn more</a>
                    <a herf="book/{{ book.book_id }}" class="leranMore">Buy Book</a>
                </div>
                <div class="clear"></div>
            </div>
            <div class="clear"></div>
        </div>
    </aside>

{% endblock %}
    {% include 'YottaBundle:Default:footer.html.twig' %}
{% endblock %}
{% block mainAssets %}
    <script src="{{ asset('js/jquery.min.js') }}"></script>
    <script src="{{ asset('js/oauth.min.js') }}"></script>
    <script src="{{ asset('lib/bower_components/slick-carousel/slick/slick.js') }}"></script>
    <script src="{{ asset('lib/pagination/jquery.twbsPagination.min.js') }}"></script>
    <script src="{{ asset('js/discover.js') }}"></script>
{% endblock %}
{% block assets %}{% endblock %}

</html>
