h3 {
    font-weight: normal;
    line-height: 2.5;
}

#add-music p {
    color: #808080;
    font-family: AvenirLight;
}

#add-music .display-author {
    width: 85%;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    -khtml-justify-content: space-between;
    justify-content: space-between;
    align-items: center;
    -webkit-align-items: center;
}

#add-music .left {
    -webkit-justify-content: space-around;
    -moz-justify-content: space-around;
    -ms-justify-content: space-around;
    -o-justify-content: space-around;
    -khtml-justify-content: space-around;
    justify-content: space-around;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    -khtml-flex-direction: column;
    flex-direction: column;
    width: 70%;
}
#add-music .left h3,#add-music .left p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#add-music .left h3 abbr {
    text-decoration: none;
}
#add-music .left, #add-music .display-author, #add-music .post-user {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}

#add-music .post-user {
    margin: 0;
    padding: 5px 0 10px;
    border-bottom: 1px solid #acacac;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    -khtml-align-items: cemter;
    align-items: center;
}

#add-music .modal-body .button-submit {
    width: 100%;
    text-transform: capitalize;
    background-color: #e1e1e1;
    color: #000;
}

/*modal header*/
#add-music .modal-title {
    font-weight: normal;
    font-size: 15px;
    color: #19BD9B;
    margin: 0;
}

.modal_loading {
    padding: 40px 0 50px;
}

/*modal content*/
#add-music .modal-title img {
    width: 30px;
    margin-right: 10px;
    transform: translateY(-15%);
}

.lent {
    padding: 0;
    border: none;
    background: transparent;
    line-height: 0;
}

.mr-10 {
    margin-right: 10px;
}
