
h3 {
    font-weight: normal;
    line-height: 3;
}

#add-video p {
    color: #808080;
    font-family: AvenirLight;
}

#add-video, #add-image {
    overflow-y: auto;
}

#add-video .video-image img {
    width: 100%;
    height: auto;
}
#add-image .video-image img {
    width: auto;
    height: 100%;
    display: block;
    margin: 0 auto;
}
#add-video .display-author, #add-image .display-author {
    width: 100%;
    display: inline-block;
}

#add-video .post-user, #add-image .post-user {
    margin: 0 0 20px;
    border-bottom: 1px solid #acacac;
}
#add-image .post-user .video-image {
    height: 200px;
    background: #ebebeb;
}
    /*modal header*/
#add-video .modal-title, #add-image .modal-title {
    font-weight: normal;
    font-size: 15px;
    color: #19BD9B;
    margin: 0;
}

.modal_loading {
    padding: 40px 0 50px;
}

/*modal content*/

#add-video .modal-title img, #add-image .modal-title img{
    width: 30px;
    margin-right: 10px;
}

#add-video .modal-title img {
    transform: translateY(5%);
}
#add-image .modal-title img{
    transform: translateY(-12%);
}
.lent {
    padding: 0;
    border: none;
    background: transparent;
    line-height: 0;
}

.mr-10 {
    margin-right: 10px;
}

#add-image form {
    margin-bottom: 20px;
}
