.YottaAlert {
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  z-index: 2000;
  margin: 0 auto;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  padding: 20px;
  min-width: 300px;
  text-align: center;
  border: 2px solid #1abd9a;
  border-radius: 5px 5px;
  color: #ffffff;
  max-width: 70%;
  visibility: hidden;
}