.footer_content{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider{
  width: 300px !important;
}

.slidecontainer{
  margin: 0 auto;
  display: inline-block;
}

.save-button{
  float: right;
  display: block;
  position: absolute;
  right: 0;
}

.cropper_area{
  max-width: 400px;
  margin: 20px auto;
  height: 300px;
  display: none;
 }

#cropper_image {
  max-width: 100%;
}

#edit_prof_picture {
  background: rgba(0, 0, 0, .3);
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1000;
  visibility: hidden;
}

#edit_prof_picture .modal-body {
  background: #fff;
  width: 768px;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  margin: 0 auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

/*modal header*/
#edit_prof_picture .modal-header {
  border-bottom: 1px solid #acacac;
  padding: 15px 20px;
  position: relative;
}

#edit_prof_picture .modal-title {
  font-size: 30px;
  color: #293136;
  margin: 0;
}

#edit_prof_picture .modal-close {
  color: #8e9194;
  position: absolute;
  z-index: 1;
  background: none;
  border: none;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  outline: none;
  font-size: 20px;
}

.modal_loading{
  padding: 40px 0 50px;
}
/*modal content*/
#edit_prof_picture .modal-content {
  text-align: center;
}

#edit_prof_picture .modal-content img {
  width: 100px;
}

#edit_prof_picture .modal-content .upload {
  font-size: 30px;
  color: #ccc;
}

/*modal footer*/
#edit_prof_picture .modal-footer {
  border-top: 1px solid #acacac;
  padding: 20px;
}

#edit_prof_picture .modal-footer .save {
  background: #464646;
  border: none;
  color: #fff;
  margin-left: auto;
  display: block;
  padding: 10px 20px;
  cursor: pointer;
  outline: none;
}

#edit_prof_picture .modal-footer .save:hover {
  background: #33cc99;
}

@media (max-width: 767px) {
  #edit_prof_picture {
    overflow-x: scroll;
  }
}