#lent-book h3 {
    font-weight: normal;
    font-size: 15px;
    line-height: 2.3;
}

.mobal-header {
    padding: 20px 0;
    position: relative;
    border-bottom: 1px solid #e1e1e1;
    margin-bottom: 20px;
}

.search-section input {
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
    border-right: none;
    border-left: none;
    box-shadow: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

#lent-book .display-author {
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    -khtml-justify-content: space-between;
    justify-content: space-between;
}

#lent-book .post-user {
    margin: 10px 0;
    border-bottom: 1px solid #acacac;
    max-height: 30vh;
    overflow: auto;
    padding-right: 10px;
}

/*modal header*/
#lent-book .modal-title {
    font-weight: normal;
    font-size: 15px;
    color: #19BD9B;
    margin: 0;
}

.modal_loading {
    padding: 40px 0 50px;
}

/*modal content*/

#lent-book .modal-title img {
    width: 30px;
    margin-right: 10px;
    transform: translateY(-15%);
}

#lent-book .lent {
    padding: 13px 20px;
    color: #00BD9C;
    border: 1px solid #00BD9C;
    background: transparent;
    border-radius: 3px;
}

#lent-book .user-lent-list {
    border-bottom: 1px solid #e1e1e1;
}

#lent-book .user-lent-list, #lent-book .display-author, #lent-book .left {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    -khtml-align-items: center;
    align-items: center;
}

/*modal footer*/
#lent-book .load-more {
    margin: auto;
    text-align: center;
}

.date-pickert-input {
}

.date-pickert-input > img {
    width: 30px;
    height: 16px;
    object-fit: contain;
    vertical-align: middle;
    background: #e1e1e1;
    margin-bottom: 2px;
    border-radius: 0 5px 5px 0;
    padding: 3px;
}

.date-pickert-input > input {
    border: 1px solid #e1e1e1;
    height: 20px;
    float: left;
    padding-left: 5px;
    padding-right: 5px;
}

