#popup_show_img{
  object-fit: contain;
  margin: auto;
  width: 100%;
}

#show_image_id{
  height: 100%;
  width:100%;
  background-repeat:no-repeat;
  background-size: contain;
  background-position: center center;
}

.popup_container {
  background: rgba(0, 0, 0, .3);
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 1000;
  visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup_container .image_container {
  position: relative;
  display: inline;
  max-width: 80%;
  max-height: 80%;
  min-width: 20%;
  min-height: 20%;
  top: -100%;
}

.popup_container .modal-close {
  color: #8e9194;
  z-index: 1;
  border: none;
  outline: none;
  font-size: 20px;
  position: absolute;
  right: 0px;
  width: 30px;
  height: 30px;
  background-color: black;
  padding: 5px;
}

#hide_popup_div{
  width: 100%;
  height: 100%;
  position: absolute
}

/*modal content*/
.popup_container .modal-content {
  text-align: center;
  height: calc(100vh - 150px);
}

