#users-list-popup {
    background: rgba(0, 0, 0, .3);
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1000;
    visibility: hidden;
}
h3 {
    font-weight: normal;
    line-height: 1;
    height:auto;
}

#users-list-popup .left {
    float: left;
}

#users-list-popup .display-author {
    width: 78%;
    display: inline-block;
}

#users-list-popup .post-user {
    margin: 10px 0;
    border-bottom: 1px solid #acacac;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    -khtml-align-items: cemter;
    align-items: center;
}

#users-list-popup .us-avatar {
    display: inline-block;
    width: 45px;
    height: 45px;
    margin-right: 10px;
}

#users-list-popup .modal-body {
    background: #fff;
    width: 400px;
    padding: 0 20px 20px;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

#users-list-popup .modal-body .button-submit {
    width: 100%;
    text-transform: capitalize;
    background-color: #e8e6e6;
}

/*modal header*/
#users-list-popup .modal-header {
    border-bottom: 1px solid #acacac;
    padding: 15px 0;
    position: relative;
}

#users-list-popup .modal-title {
    font-weight: normal;
    font-size: 15px;
    color: #19BD9B;
    margin: 0;
}

#users-list-popup .userlist-modal-close {
    color: #8e9194;
    position: absolute;
    z-index: 1;
    background: none;
    border: none;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    outline: none;
    font-size: 20px;
}

.modal_loading {
    padding: 40px 0 50px;
}

/*modal content*/
#users-list-popup .modal-content {
    max-width: none;
    max-height: 60vh;
    overflow: auto;
}

#users-list-popup .modal-title img {
    width: 30px;
    margin-right: 10px;
    transform: translateY(-15%);
}

/*modal footer*/
@media (max-width: 767px) {
    #users-list-popup {
        overflow-x: scroll;
    }
}

#users-list-popup .load-more {
    margin: auto;
    text-align: center;
}

#users-list-popup #load-more-users {
    visibility: hidden;
}