/* <576px  ≥576px ≥768px ≥992px ≥1200px  */




body {
    margin: 0;
    padding: 0;
}

.header  {
    width: 100%;
    background-color: #000000;
    height: 70px;
    color: #ffffff;
    text-align: center;
}

.header span{
    line-height: 70px;
    text-align: left;
    font-size: 20px;
    float: left;
    margin-left: 5%;
}


.header ul li{
    margin-top: 16px;
    list-style: none;
    float: right;
    margin-right: 2%;
    padding-right: 2%;
}

.header ul{
    margin: 0px;
}

@media screen and (max-width: 576px){
    .header ul li{
        margin-right: 1%;
        margin-top: 25px;
        padding-right: 2%;
        width: 10%;
        height: auto;
    }


    .header span{
        font-size: 15px;
        overflow: hidden;
    }
}

.header a{
    text-decoration: none;
    color: #cccccc;
}

.header a:hover{
    color: red;
}



