.new-release-book {
    background-color: #FFFFFF;
    box-shadow: 0 3px 7px #DADADA;
    font-size: 14px;
}

.timeline-section-discover {
    width: 65.5%;
    margin-left: 1.5%;
    margin-top: -10px;
    float: left;
}

.timeline-section-discover a {
    text-decoration: none;
    color: #000000;
}

.timeline-section-book {
    margin-top: 67px;
    margin-left: 2%;
    width: 62%;
}

.timeline-section-discover .rateCount {
    background-color: #FFCF00;
    height: 16px;
    margin: 30px 0 0 10px;
}

.header-block {
    height: 35px;
    line-height: 35px;
    padding-left: 10px;
    background-color: #19BD9B;
    color: #FFFFFF;
    text-transform: uppercase;
}

/****yotters****/
.yotter {
    padding: 1%;
    text-align: center;
}

.onlineYotters {
    display: inline-block;
    width: 19%;
    height: 80px;
}

.yottersRow {
    width: 100%;
}

.onlineYotters > img {
    width: 100%;
    height: 100%;
}

/* the slides */
.slick-slide {
    margin: 5px 5px !important;
}

/* the parent */
.slick-prev {
    left: 5px !important;
}

.slick-next {
    right: 5px !important;
}

.slick-prev:after {
    content: ">";
    font-size: 30px;
}

.slick-next:before {
    content: "<";
    font-size: 30px;
}

.questionSlideItems.slick-slide {
    height: 92px;
    line-height: 92px;
    text-align: center;
}

.joinUs {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #00bd9c;
    float: left;
    height: 100%;
    width: 245px;
    padding-left: 30px;
}

/****breadcrump****/
.diff ol#wo-breadcrumbs {
    background: #ffffff;
    padding: 0 !important;
}

content {
    float: left;
    margin: 67px 2.5% 10px 2.5%;
    width: 59.4%;
}

.search-area-block {
    z-index: 600;
}

.search-area {
    margin-top: 4px !important;
}

#search-param {
    height: 38px !important;
}

.result-item-content {
    margin-left: 2% !important;
    width: 50%;
}

.add-lent-book-block > .add-book, .add-lent-book-block > .lent-book {
    text-align: center;
    padding: 10px 15px;
    margin: 16px 0 5px 0;
    cursor: pointer;
}

.newReleaseButtons .leranMore {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    min-width: 750px;
}

#join {
    cursor: pointer;
}

.footer {
    margin-top: 15px;
    padding-bottom: 0 !important;
}

book {
    float: left;
    margin: 11px 1.5% -15px 2.5%;
    width: 59.4%;
}

.timeline-section-book {
    margin-left: 2%;
    width: 62%;
}

/******Discover page******/
@media (max-width: 767px) {
    .body-section {
        min-width: 768px !important;
    }

    .header-profile {
        min-width: 768px !important;
    }

    .footer {
        min-width: 768px !important;
    }

}

@media (max-width: 768px) {

    /*****Header****/
    .header-profile {
        min-width: 0;
        width: 751px;
    }

    .timeline-section-book {
        margin-left: 2%;
        width: 58%;
    }

    .joinUs {
        width: 22%;
        padding-left: 13px;
    }

    .joinUs #join {
        margin-top: 6px;
        font-size: 8px;
        margin-left: 12px;
        line-height: 41px;
        cursor: pointer;
    }

    .search-area {
        width: 37%;
        height: 44px;
        margin-top: 10px;
        position: relative;
        margin-left: 0;
    }

    .white {
        width: 96%;
        padding: 12px;
    }

    .search-area-block {
        width: 430px;
        z-index: 600;
        font-size: 15px;
    }

    .search-area-title {
        font-size: 14px;
        margin: 10px 0;
    }

    .search-area-block-bottom {
        margin-top: 5px;
        font-size: 15px;

    }

    #search {
        padding: 2px;
        background-color: #293136;
        color: white;
        border: none;
        outline: none;
        width: 62%;
        border: 0;
        outline: 0;
        margin-left: 0;
        font-size: 13px;
    }

    #search-param > span {
        font-size: 13px;
        right: 22px;
        top: 12px;
    }

    .icon-search {
        padding: 0 !important;
        cursor: pointer;
        position: absolute;
        top: 11px;
        right: 0;
        font-size: 18px;
    }

    .header-logo .logo {
        width: 36px;
        padding: 10px 8px 0 8px;
    }

    .header-logo h1 {
        line-height: 54px;
        font-size: 15px;
        margin: 0;
    }

    .header-logo {
        margin-right: 1%;
    }

    /******Body Section********/
    .body-section {
        padding: 0;
        min-width: 0;
        width: 751px;
    }

    content {
        margin: 10px 0 0 38px;
    }

    .timeline-section-discover {
        margin-left: 2%;
        width: 60%;
    }

    .map {
        margin-bottom: 10px;
        height: 159px;
    }

    /***top slide block***/
    .topBlock {
        width: 98%;
        padding-left: 2%;
        height: 35px;
        line-height: 35px;
        font-size: 13px;
    }

    .topRatedBooks, .lastRatedBooks {
        height: 151px;
    }

    .musicListRow {
        padding: 10px 0 0 0;

    }

    .ratedBooks {
        width: 200px;
        margin: 0 10px 0 10px;
    }

    .topMusic {
        margin-bottom: 10px;
        height: 125px;
    }

    .questionSlide {
        width: 257px;
    }

    .slidebar {
        height: 185px;
        margin-bottom: 10px;
    }

    .musicItems {
        width: 130px;
        margin: 0 10px 0 10px;
    }

    .nextButtonMusic, .previewButtonMusic {
        width: 25px;
        line-height: 30px;
        top: 64px;
    }

    .nextButtonLast, .previewButtonLast, .nextButtonTop, .previewButtonTop {
        width: 25px;
        line-height: 30px;
        top: 85px;
    }

    .adsBig {
        font-size: 13px;
        height: 95px;
        line-height: 80px;
        margin-bottom: 10px;
    }

    /****Right aside bars***/
    .homeAside {
        width: 34%;
    }

    .questions-block {
        font-size: 13px;
        margin-bottom: 10px;
        width: 256px;
    }

    .question-top-block {
        height: 35px;
        line-height: 35px;
        padding-left: 13px;
    }

    .questions-block .questionItem {
        height: 40px;
        line-height: 40px;
    }

    .questionSlide {
        height: 90px;
    }

    .questionSlide .questionSlideItems {
        width: 235px;
        padding: 10px;
        height: 66px;
        line-height: 66px;
    }

    .nextButtonQuestions.icon.show-icon {
        width: 25px;
        line-height: 30px;
        top: 210px;
    }

    .onlineYotters {
        width: 23%;
        height: 66px;
    }

    .ads {
        height: 60px;
        line-height: 60px;
    }

    .agenda {
        height: 60px;
        line-height: 60px;
    }

    .online-friends {
        height: 35px;
        line-height: 35px;
        padding-left: 10px;
    }

    .newRelease {
        padding-top: 10px;
        font-size: 14px;
    }

    .newReleaseImgBlock {
        height: 92%;
    }

    .newReleaseImageBlock {
        width: 27%;
        height: 85px;
    }

    .newReleaseButtons {
        margin-top: 5px;
    }

    .newReleaseButtons .leranMore {
        height: 25px;
        line-height: 25px;
        font-size: 11px;
    }

    .add-lent-book-block {
        font-size: 11px;
    }

    .white {
        width: 427px;
    }

}

@media screen and (min-width: 769px) and (max-width: 992px) {
    /*****Header****/
    .header-profile {
        min-width: 0;
    }

    .joinUs {
        padding-left: 0;
        width: 242px;
    }

    .white {
        width: 93%;
    }

    .joinUs #join {
        font-size: 12px;
        margin-left: 20px;
        line-height: 54px;
        cursor: pointer;
    }

    .search-area {
        width: 29%;
        height: 44px;
        margin-top: 10px;
        position: relative;
        margin-left: 0;
    }

    .white {
        width: 96%;
        padding: 15px;
        font-size: 15px;
    }

    .search-area-title {
        font-size: 17px;
        margin: 7px;
    }

    .search-area-block-bottom {
        font-size: 15px;
        margin-top: 15px;
    }

    #search {
        padding: 2px;
        background-color: #293136;
        color: white;
        border: none;
        outline: none;
        width: 59%;
        border: 0;
        outline: 0;
        margin-left: 0;
        font-size: 13px;
    }

    #search-param > span {
        font-size: 15px;
        right: 27px;
        top: 11px;
    }

    .icon-search {
        padding: 0 !important;
        cursor: pointer;
        position: absolute;
        top: 10px;
        right: 0;
        font-size: 21px;
    }

    .header-logo .logo {
        width: 38px;
        padding: 10px 8px 0 8px;
    }

    .header-logo h1 {
        line-height: 54px;
        font-size: 18px;
        margin: 0;
    }

    .header-logo {

        margin-left: 0;
        text-align: -webkit-right;
    }

    /******Body Section********/
    .body-section {
        padding: 10px 0;
        min-width: 0;
    }

    content {
        margin: 10px 0 0 38px;
    }

    .timeline-section-discover {
        margin-left: 2%;
        width: 63%;
    }

    .map {
        margin-bottom: 8px;
        height: 193px;
    }

    /***top slide block***/
    .topBlock {
        width: 97%;
        padding-left: 3%;
        height: 38px;
        line-height: 38px;
        font-size: 15px;
    }

    .topRatedBooks, .lastRatedBooks {
        height: 153px;
    }

    .musicListRow {
        width: 100%;
        padding: 10px 0 0 0;
    }

    .ratedBooks {
        width: 179px;
        margin: 0 12px 0 12px;
    }

    .topMusic {
        margin-bottom: 15px;
        height: 129px;
        font-size: 15px;
    }

    .musicItems {
        width: 118px;
        margin: 0 15px 0 15px;
    }

    .adsBig {
        font-size: 15px;
        height: 110px;
        line-height: 100px;
        margin-bottom: 15px;
    }

    .nextButtonLast, .previewButtonLast, .nextButtonTop, .previewButtonTop {
        top: 87px;
    }

    .previewButtonMusic, .nextButtonMusic {
        top: 65px;
    }

    .add-lent-book-block > .add-book, .add-lent-book-block > .lent-book {
        width: 63px;
        font-size: 13px;
    }

    .add-lent-book-block > .add-book, .add-lent-book-block > .lent-book {
        width: 70%;
    }

    .add-book:hover .tooltip {
        left: 44px;
    }

    /****Right aside bars***/
    .homeAside {
        width: 31%;
    }

    .questions-block {
        font-size: 15px;
        margin-bottom: 15px;
    }

    .question-top-block {
        height: 40px;
        line-height: 40px;
        padding-left: 13px;
    }

    .questions-block .questionItem {
        height: 50px;
        line-height: 50px;
    }

    .questionSlide {
        height: 115px;
        width: 100%;
    }

    .questionSlide .questionSlideItems {
        width: 93%;
        padding: 10px;
        height: 91px;
        line-height: 91px;
    }

    .onlineYotters {
        width: 23%;
        height: 60px;
    }

    .ads {
        height: 70px;
        line-height: 70px;
    }

    .agenda {
        height: 70px;
        line-height: 70px;
    }

    .online-friends {
        height: 35px;
        line-height: 35px;
        padding-left: 10px;
    }

    .newReleaseImageBlock {
        width: 27%;
    }

    .newReleaseButtons {
        margin-top: 20px;
    }

    .newReleaseButtons .leranMore {
        height: 28px;
        line-height: 28px;
    }

    .newRelease {
        padding-top: 7px;
    }
}

@media screen and (min-width: 993px) and (max-width: 1200px) {
    /*****Header****/
    .header-profile {
        min-width: 0;
    }

    .joinUs {
        padding-left: 5px;
        width: 284px;
    }

    .joinUs #join {
        font-size: 14px;
        margin-left: 20px;
        line-height: 54px;
        cursor: pointer;
    }

    .white {
        padding: 15px;
        width: 96%;
    }

    .search-area {
        width: 38%;
        height: 44px;
        margin-top: 10px;
        position: relative;
        margin-left: 0;
    }

    #search {
        padding: 2px;
        background-color: #293136;
        color: white;
        border: none;
        outline: none;
        width: 69%;
        border: 0;
        outline: 0;
        margin-left: 0;
        font-size: 14px;
    }

    #search-param > span {
        font-size: 15px;
        right: 35px;
        top: 10px;
    }

    .icon-search {
        top: 10px;
        right: 0;
        font-size: 21px;
    }

    .header-logo .logo {
        width: 40px;
        padding: 10px 8px 0 8px;
    }

    .header-logo h1 {
        line-height: 54px;
        font-size: 20px;
        margin: 0;
    }

    .header-logo {

        margin-left: 0;
        text-align: -webkit-right;
    }

    /******Body Section********/
    .body-section {
        padding: 10px 0;
        min-width: 0;
    }

    content {
        margin: 10px 0 0 38px;
    }

    .timeline-section-discover {
        margin-left: 2%;
        width: 63%;
    }

    .map {
        margin-bottom: 10px;
        height: 239px;
    }

    /***top slide block***/
    .topBlock {
        width: 97%;
        padding-left: 3%;
        height: 40px;
        line-height: 40px;
        font-size: 15px;
    }

    .topRatedBooks, .lastRatedBooks {
        height: 172px;
    }

    .musicListRow {
        width: 100%;
        padding: 10px 0 0 0;
    }

    .ratedBooks {
        width: 160px;
        margin: 0 12px 0 12px;
    }

    .topMusic {
        margin-bottom: 15px;
        height: 130px;
        font-size: 15px;
    }

    .musicItems {
        width: 130px;
        margin: 0 15px 0 15px;
    }

    .adsBig {
        font-size: 15px;
        height: 120px;
        line-height: 120px;
        margin-bottom: 15px;
    }

    /****Right aside bars***/
    .homeAside {
        width: 31%;
        margin-left: 2%;
    }

    .questions-block {
        font-size: 15px;
        margin-bottom: 15px;

    }

    .question-top-block {
        height: 45px;
        line-height: 45px;
        padding-left: 13px;
    }

    .questions-block .questionItem {
        height: 50px;
        line-height: 50px;
    }

    .questionSlide {
        height: 115px;
        width: 100%;
    }

    .questionSlide .questionSlideItems {
        width: 342px;
        padding: 10px;
        height: 91px;
    }

    .onlineYotters {
        width: 18%;
        height: 70px;
    }

    .ads {
        height: 85px;
        line-height: 85px;
    }

    .agenda {
        height: 85px;
        line-height: 85px;
    }

    .online-friends {
        height: 40px;
        line-height: 40px;
        padding-left: 10px;
        font-size: 15px;
    }

    .header-block {
        height: 40px;
        line-height: 40px;
        font-size: 15px;
    }

    .newRelease {
        font-size: 17px;
    }

    .newReleaseImgBlock {
        height: 98px;
    }

    .newReleaseImageBlock {
        width: 27%;
        height: 108px;
    }

    .newReleaseButtons {
        margin-top: 12px;
    }

    .ratedBooks .ratedBookImage {
        height: 115px;
    }

    .timeline-section-discover .rateCount {
        margin-top: 48px;
    }
}

@media screen and (min-width: 1201px) and (max-width: 1366px) {
    /*****Header****/
    .joinUs {
        padding-left: 5px;
        width: 275px;
    }

    .header-profile {
        min-width: 0;
    }

    .joinUs #join {
        font-size: 13px;
        margin-left: 30px;
        line-height: 54px;
        cursor: pointer;
    }

    .search-area {
        width: 44%;
        height: 43px;
        margin-top: 10px;
        position: relative;
        margin-left: 0;
    }

    #search-param > span {
        right: 39px;
        top: 8px;
    }

    .white {
        width: 96%;
        padding: 15px;
    }

    #search {
        padding: 2px;
        background-color: #293136;
        color: white;
        border: none;
        outline: none;
        width: 73%;
        border: 0;
        outline: 0;
        margin-left: 0;
        font-size: 15px;
    }

    #search-param > span {
        font-size: 18px;
    }

    .icon-search {
        top: 8px;
        right: 6px;
        font-size: 23px;
    }

    .header-logo .logo {
        width: 40px;
        padding: 10px 8px 0 8px;
    }

    .header-logo h1 {
        line-height: 54px;
        font-size: 22px;
        margin: 0;
    }

    .header-logo {
        margin-right: 2%;
        text-align: -webkit-right;
    }

    /*!******Body Section********!*/
    .body-section {
        padding: 15px 0;
        min-width: 0;
    }

    content {
        margin: 10px 10px 0 38px;
    }

    .timeline-section-discover {
        margin-left: 2%;
        width: 63%;
    }

    /***top slide block***/
    .topBlock {
        width: 99%;
        padding-left: 1%;
        height: 40px;
        line-height: 40px;
        font-size: 18px;
    }

    .topRatedBooks, .lastRatedBooks {
        height: 155px;
    }

    .musicListRow {
        width: 100%;
        padding: 15px 0 0 0;
    }

    .ratedBooks {
        width: 184px;
        margin: 0 12px 0 12px;
    }

    .musicListRow {
        height: 75px;
        padding-top: 10px;
    }

    .topMusic {
        font-size: 15px;
    }

    .musicItems {
        width: 135px;
        margin: 0 15px 0 15px;
    }

    .nextButtonLast, .nextButtonTop {
        top: 90px;
    }

    .adsBig {
        font-size: 18px;
        height: 150px;
        line-height: 150px;
        margin-bottom: 20px;
    }

    .map {
        height: 212px;
        margin-bottom: 8px;
    }

    /****Right aside bars***/
    .homeAside {
        width: 32%;
        margin-left: 1%;
    }

    .questions-block {
        font-size: 18px;
        margin-bottom: 20px;

    }

    .questionSlide {
        width: 100%;
        height: 325px;
    }

    .questionSlide .questionSlideItems {
        width: 418px;
        padding: 10px;
        height: 268px;
    }

    .ads {
        height: 100px;
        line-height: 100px;
    }

    .agenda {
        height: 100px;
        line-height: 100px;
    }

    .online-friends {
        height: 40px;
        line-height: 40px;
        padding-left: 10px;
        font-size: 15px;
    }

    .newRelease {
        padding-top: 5px;
        font-size: 15px;
    }

    .newReleaseImageBlock {
        width: 25%;
    }

    .newReleaseButtons {
        margin-top: 15px;
    }

    .newReleaseButtons .leranMore {
        height: 28px;
        line-height: 28px;
    }
}

@media (min-width: 1367px) {

    content {
        margin: 10px 0 10px 25px;
        width: 65.4%;
    }

    .header-logo {
        margin-right: 2%;
    }

    .joinUs {
        padding-left: 26px;
        line-height: 54px;
        width: 300px;
    }

    .search-area {
        width: 42.2%;
    }

    .questions-block,.questionSlide {
        width: 100%;
    }

    .questionSlide .questionSlideItems {
        width: 93%;
    }

    .newRelease {
        font-size: 17px;
    }

    .new-release-book {
        height: 180px;
    }

    .newReleaseImageBlock {
        height: 127px;
    }

    .newReleaseImgBlock {
        height: 115px;
    }

    .newReleaseButtons .leranMore {
        height: 40px;
        line-height: 40px;
        font-size: 17px;
    }

    .newReleaseButtons {
        margin-top: 28px;
    }

    .secondBlock {
        width: 30%;
    }

    .footer .newsletter {
        width: 24%;
        text-align: center;
    }

    .button-submit {
        width: 100%;
    }

    .footer .newsletter span {
        font-size: 18px;
        font-weight: bold;
    }

    .ratedBooks:first-of-type {
        margin: 0;
    }

    .ratedBooks {
        padding: 0 7px 0 7px;
        width: 210px;
    }

    .musicItems:first-of-type {
        margin: 0;
    }

    .musicItems {
        width: 173px;
        padding: 0 7px 0 7px;
    }
}

/*****************Footer*****************/
@media (max-width: 768px) {
    .footer {
        padding: 5px 0 5px 0;
        min-width: 0;
        width: 751px;
    }

    .contactUs {
        width: 24%;
    }

    .contactUs span {
        margin-left: 0;
        font-size: 15px;
        padding-top: 5px;
    }

    .contactUs ul li {
        margin-left: 0;
    }

    .secondBlock #firstDiv, #follow {
        font-size: 15px;
        padding-top: 5px;
    }

    .googleImg {
        width: 100px;
    }

    .ficon-fb:after {
        font: normal 20px/35px 'FontAwesome';
    }

    .ficon-tw:after {
        font: normal 20px/35px 'FontAwesome';
    }

    .ficon-gp:after {
        font: normal 20px/35px 'FontAwesome';
    }

    .footer .newsletter {
        width: 26%;
        padding: 10px;
        margin-top: 5px;
        border: 2px solid #b7b7b7;
        text-align: center;
    }

    .footer .newsletter span {
        font-size: 15px;
        font-weight: bold;
    }

    .footer .newsletter #textInput {
        height: 27px;
        font-size: 12px;
        margin-top: 5px;
    }

    .button-submit {
        width: 100%;
        margin-top: 9px;
        height: 35px;
        font: normal 13px/16px '"Avenir-Medium"';
    }

    .footerLine {
        min-width: 751px;
        height: 35px;
        line-height: 35px;
        font-size: 13px;
    }
}

@media screen and (min-width: 769px) and (max-width: 992px) {
    .footer {
        padding: 8px 0 8px 0;
        min-width: 0;
    }

    .contactUs {
        width: 24%;
    }

    .contactUs span {
        margin-left: 0;
        font-size: 18px;
        padding-top: 5px;
    }

    .contactUs ul li {
        margin-left: 0;
    }

    .secondBlock {
        width: 38%;
    }

    .secondBlock #firstDiv, #follow {
        font-size: 18px;
        padding-top: 5px;
    }

    .googleImg {
        width: 115px;
    }

    .ficon-fb:after {
        font: normal 22px/35px 'FontAwesome';
    }

    .ficon-tw:after {
        font: normal 22px/35px 'FontAwesome';
    }

    .ficon-gp:after {
        font: normal 22px/35px 'FontAwesome';
    }

    .footer .newsletter {
        width: 25%;
        padding: 10px;
        margin-top: 5px;
        border: 2px solid #b7b7b7;
        font-weight: bold;
        text-align: center;
    }

    .footer .newsletter span {
        font-size: 18px;
    }

    .footer .newsletter #textInput {
        height: 27px;
        font-size: 12px;
        margin-top: 7px;
    }

    .button-submit {
        margin-top: 9px;
        height: 35px;
        width: 100%;
        font: normal 15px/16px '"Avenir-Medium"';
    }

    .footerLine {
        height: 37px;
        line-height: 37px;
        font-size: 15px;
    }
}

@media screen and (min-width: 993px) and (max-width: 1200px) {
    .footer {
        padding: 8px 0 8px 0;
        min-width: 0;
    }

    .contactUs {
        width: 24%;
    }

    .contactUs span {
        margin-left: 0;
        font-size: 20px;
        padding-top: 5px;
    }

    .contactUs ul li {
        margin-left: 0;
    }

    .secondBlock {
        width: 38%;
    }

    .secondBlock #firstDiv, #follow {
        font-size: 20px;
        padding-top: 5px;
    }

    .googleImg {
        width: 125px;
    }

    .ficon-fb:after {
        font: normal 22px/35px 'FontAwesome';
    }

    .ficon-tw:after {
        font: normal 22px/35px 'FontAwesome';
    }

    .ficon-gp:after {
        font: normal 22px/35px 'FontAwesome';
    }

    .footer .newsletter {
        width: 25%;
        padding: 15px;
        margin-top: 5px;
        border: 3px solid #b7b7b7;
        text-align: center;
        font-weight: bold;
    }

    .footer .newsletter span {
        font-size: 18px;
    }

    .footer .newsletter #textInput {
        height: 35px;
        font-size: 12px;
        margin-top: 7px;
    }

    .button-submit {
        width: 100%;
        margin-top: 13px;
        height: 38px;
        font: normal 16px/16px '"Avenir-Medium"';
    }

    .footerLine {
        height: 37px;
        line-height: 37px;
        font-size: 15px;
    }
}

@media screen and (min-width: 1201px) and (max-width: 1366px) {
    .footer {
        min-width: 0;
    }

    .contactUs {
        width: 24%;
    }

    .contactUs span {
        margin-left: 0;
        font-size: 20px;
        padding-top: 5px;
    }

    .contactUs ul li {
        margin-left: 0;
    }

    .secondBlock {
        width: 38%;
    }

    .secondBlock #firstDiv, #follow {
        font-size: 20px;
        padding-top: 5px;
    }

    .googleImg {
        width: 125px;
    }

    .ficon-fb:after {
        font: normal 22px/35px 'FontAwesome';
    }

    .ficon-tw:after {
        font: normal 22px/35px 'FontAwesome';
    }

    .ficon-gp:after {
        font: normal 22px/35px 'FontAwesome';
    }

    .footer .newsletter {
        width: 25%;
        padding: 15px;
        margin-top: 5px;
        border: 3px solid #b7b7b7;
        text-align: center;
        font-weight: bold;
    }

    .footer .newsletter span {
        font-size: 18px;
    }

    .footer .newsletter #textInput {
        height: 35px;
        font-size: 12px;
        margin-top: 7px;
    }

    .button-submit {
        width: 100%;
        margin-top: 13px;
        height: 38px;
        font: normal 16px/16px '"Avenir-Medium"';
    }

    .footerLine {
        height: 37px;
        line-height: 37px;
        font-size: 15px;
    }
}
