button, select {
    outline: none;
    cursor: pointer;
}

section.book-section {
    width: 95%;
    padding: 0;
    box-sizing: border-box;
    background-color: #F3F3F4;
    margin-top: 3px;
    box-sizing: border-box;
}

.book-section-container {
    background-color: #fff;
    padding: 40px;
    box-shadow: 2px 2px 10px #DFDFDF, -2px -2px 10px #DFDFDF;
}

article {
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    border: 0;
    box-shadow: none;
    width: auto;
}

.book-image-section {
    float: left;

}

.book-image-box {
    padding: 10px;
    height: 200px;
    width: 200px;
    border: 2px solid #ECECEC;
}

.book-image-box img {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    object-fit: contain;
}

.add-to-read-list, .remove-from {
    margin: 20px 0 0;
    position: relative;
}

.addWritingPopup {
    top: -50px;
    left: 0;
}

.add-to-read-list button, .remove-from button {
    display: block;
    background-color: #b3b3b3;
    transition: all .5s;
    width: 100%;
    border: none;
    padding: 10px 0;
    color: #fff;
    font-size: 15px;
}

.add-to-read-list button:hover, .remove-from button:hover, .remove-from .share-book:hover {
    transition: all .5s;
    background-color: #00BD9C;
    color: #fff
}

.remove-from .remove-writing, .remove-from button p {
    padding: 10px 0;
    color: #fff;
    text-align: center;
    font-size: 15px;
}

.remove-from .share-book {
    padding: 10px 0;
    color: #00BD9C;
    border: 1px solid #00BD9C;
    background: transparent;
    margin-top: 20px;
    font-size: 15px;
}

/*book-image-section end*/
.book-info-section {
    float: right;
    width: 75%;
    border: 0;
    background-color: #fff;
    outline: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

h1.book-title {
    font-family: 'Georgia-bold';
    font-size: 24px;
}

.book-info-section > p {
    margin: 10px 0;
}

.book-tag, .sharp {
    color: #7C7C7C;
}

.book-tag:hover {
    text-decoration: none;
}

.tag-pipe {
    color: #19BD9B;
    margin: 0 5px;
}

.publisher, .publisher a, p.publisher-date, p.publisher-language {
    font-family: 'Avenir';
}

.publisher span, .publisher-date span, .publisher-language span, .book-id span, .book-description-title {
    font-family: 'AvenirNext-Medium';
}

.publisher a:hover, a.book-tag:hover {
    text-decoration: underline;
}

p.book-tags {
    margin: 15px 0;
    font-family: 'Avenir';
}

p.book-description-title {
    margin: 0 0 20px 0;
}

.publsher span {
    font-weight: bold;
}

p.book-description {
    margin-bottom: 0;
    font-family: 'AvenirBook';
}

p.book-description-more {
    text-align: right;
    margin: 0;
}

a.more {
    color: #66ABD4;
}

a.more:hover, .not-underline {
    text-decoration: none;
}

.book-description {
    display: table;
}

.rest-description {
    display: none;
}

/*book-info-section end*/

.tag-tools {
    border: 0;
    border-top: 1px solid #A4A4A4;
    border-bottom: 1px solid #A4A4A4;
    margin: 20px 0 0;
    padding: 20px 0 25px;
    box-sizing: border-box;
}

form.add-tag-form.ng-pristine.ng-valid {
    box-shadow: none !important;
}

input.add-tag-field {
    height: 30px;
    border: 0;
    border-bottom: 2px solid #CFCFCF;
    margin: 0 0 0 25px;
    font-family: Avenir;
    font-size: 15px;
    color: #757575;
    width: calc(100% - 180px);
    outline: 0;
}

.tag-icon {
    height: 25px;
    margin: 3px 0 0 0;
    display: block;
    color: #B5B5B5;
}
.add-markup-btn button {
    width: 8%;
    min-width: 100px;
}

.add-tag-btn {
    width: 120px;
}
.add-tag-btn, .add-markup-btn button {
    background: #B5B5B5;
    color: #fff;
    border: 0;
    outline: 0;
    padding: 8px 0;
    cursor: pointer;
}

.add-markup-btn button {
    position: relative;
    width: 100%;
    padding: 12px 0;
    font-size: 15px;
    border: 0;
}

.tooltiLendAnimate.addMarkButtonPopup {
    top: -49px;
    left: 0;
}

.add-markup-btn button:hover, .add-tag-btn:hover {
    background-color: #1ABC9C;
    transition: background-color 0.5s;
    -webkit-transition: background-color 0.5s;
    -moz-transition: background-color 0.5s;
    -o-transition: background-color 0.5s;
    -ms-transition: background-color 0.5s;
}

.book-status {
    margin: 15px 0;
    height: 45px;
    font-family: 'Avenir-Medium';
}

.book-status > div {
    height: 100%;
    border-right: 2px solid #BBBBBB;
    float: left;
    padding: 13px 0 0;
    box-sizing: border-box;
}

.book-status > div.add-markup-btn {
    padding: 2px 0;
}

.book-status > div:last-of-type {
    border: none;
}

.book-rate {
    width: 15%;
}

.your-rate {
    position: relative;
    width: 30%;
    text-align: center;
}

.markups {
    text-align: center;
    width: 15%;
}

.starsBackground {
    margin-top: -5px;
}

.add-markup-btn {
    width: 30%;
    margin-left: 10%;
}

.ratedBooksAnimate {
    left: 118px;
    top: -42px;
    width: 207px !important;
}

.rateCount {
    background-color: #FFCF00;
    height: 16px;
    margin: 5px 0 0 10px;
}

.your-rate-content {
    display: inline-block;
}

.add-tag-btn {
    position: relative;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
}

.tooltiLendAnimate.addTagPopup {
    left: -126px;
    top: -50px;
}

/*tag-tools end*/
.social {
    margin: 20px 0 0 0;
    padding: 0 0 15px 0;
    border-bottom: 2px solid #CFCFCF;
    position: relative;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    -khtml-align-items: cemter;
    align-items: center;
}

.borrowed-books {
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    -ms-flex-grow: 1;
    -o-flex-grow: 1;
    -khtml-flex-grow: 1;
    flex-grow: 1;
    text-align: center;
    color: #19BD9B
}

.social .likes a {
    text-decoration: none;
    color: #0E0E0E
}

.likes {
    position: relative;
    margin: 0;
}

.tooltiLendAnimate.addLikesPopup {
    top: -48px;
    left: 0;
}

.book-info-section .bookAuthor {
    display: inline-block;
    color: #19BD9B;
}

.likes-count {
    color: #3E3E3E;
    font-size: 15px;
    margin: 5px 0 0 10px;
    font-family: 'Avenir-Medium';
}

.likes img {
    display: inline-block;
    height: 25px;
    cursor: pointer;
}

.social-links a:first-of-type {
    background-color: #ed1c24;
    border: 1px solid #ed1c24;
    transition: background-color, color 1.2s;
}

.social-links a:first-of-type:hover {
    color: #ed1c24
}

.social-links a:last-of-type {
    background-color: #0054a6;
    border: 1px solid #0054a6;
    transition: background-color, color 1.2s;
}

.social-links a:last-of-type:hover {
    color: #0054a6;
}

.social-links a:nth-of-type(2) {
    background-color: #00bff3;
    border: 1px solid #00bff3;
    transition: background-color, color 1.2s;
}

.social-links a:nth-of-type(2):hover {
    color: #00bff3
}

.social-links a:hover {
    background-color: transparent;
}

/*social end*/
.clear {
    clear: both;
    height: 0;
}

.inline {
    display: inline;
}

.none {
    display: none;
}

.left {
    float: left;
}

.right {
    float: right;
}

.center {
    position: absolute !important;
    margin-left: auto;
    margin-right: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -80%);
    color: #1abc9c;
}

.left > p {
    color: #B5B5B5;
}

#users-list-popup  .left > p {
    font-size: 12px;
    margin-bottom: 10px;
}

#users-list-popup  .left > h3 {
    line-height: 1.5;
}

/*idividual user page*/

.individual-user-info, .individual-user-info .about-user {

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.user-image {
    width: 25%;
    position: relative;
    margin-bottom: 15px;
}

.user-image img {
    width: 100%;
    height: 100%;
}

.about-user {
    width: 75%;
    flex-direction: column;
    -webkit-flex-direction: column;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    padding: 0 30px;
}

.user-settings .clear {
    overflow: auto;
    height: auto;
}

.user-settings select {
    background: transparent;
    text-align: right;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.about-user span::before {
    content: '/';
    margin-right: 4px;
}

.upload-image {
    background: rgba(0, 0, 0, .5);
    position: absolute;
    z-index: 1;
    width: 100%;
    bottom: 0;
    color: #fff;
    padding: 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.user-settings .summery, .individual-user-info .about-user p {
    color: #1abc9c;
}

.user-settings .summery {
    margin-bottom: 30px;
}

.user-settings .title {
    color: #293136;
    border-bottom: 1px solid #2D3134;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

.user-settings label {
    color: #8e9194;
    margin-bottom: 20px;
}

.user-settings .save-user-settings {
    background: #293136;
    border: none;
    color: #fff;
    text-align: center;
    padding: 15px 35px;
}

.user-settings .reset-btn {
    background: transparent;
    border: none;
    color: #50C1A1;
    font-style: italic;
    text-decoration: underline;
    font-size: 14px;
    margin-right: 20px;
}

.settings-btn-group {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: flex-end;
    align-items: flex-end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}

/*end  idividual user page*/
@media screen and (min-width: 993px) and (max-width: 1200px) {
    .book-info-section {
        width: 70%;
    }
}

@media screen and (min-width: 769px) and (max-width: 992px) {
    .book-info-section {
        width: 66%;
    }

    .book-image-section {
        min-width: 220px;
    }
}

@media (max-width: 768px) {
    .book-image-section {
        min-width: 180px;
    }

    .book-info-section {
        width: 70%;
    }
}

.friends-menu {
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    padding: 0 0 15px 0;
}

.friends-menu li {
    flex-grow: 1;
    text-align: center;
    padding: 5px 0;
}

.friends-menu li:not(:last-child) {
    border-right: 1px solid #8e9194;
}

.friends-menu li .active, .friends-menu li a:hover {
    color: #293136;
}

#addFriend {
    color: #ed1c24;
}

.friends-menu a {
    text-decoration: none;
    color: #8e9194;
}

#friend {
    display: none;
}

.post-item-footer {
    user-select: none;
}

#waitingFriend {
    color: #cfcfcf;
    cursor: default !important;
}

/*modals*/
#lent-book .userlist-modal-close, #add-music .userlist-modal-close,
#add-video .userlist-modal-close, #add-image .userlist-modal-close,
#add-wiki .userlist-modal-close {
    color: #8e9194;
    position: absolute;
    z-index: 1;
    background: none;
    border: none;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    outline: none;
    font-size: 20px;
}

#lent-book .userlist-modal-close img, #add-music .userlist-modal-close img,
#add-video .userlist-modal-close img, #add-image .userlist-modal-close img, #add-wiki .userlist-modal-close img,#users-list-popup .userlist-modal-close img{
    width: 20px;
}

#add-video, #add-music, #lent-book, #add-image, #add-wiki {
    background: rgba(0, 0, 0, .3);
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1000;
    visibility: hidden;
}

#add-video .left,
#lent-book .left, #add-music .left,
#add-image .left {
    float: left;
}

.modal-header {
    padding: 20px 0;
    position: relative;
}

#add-music .modal-content .forms-positin,
#add-video .modal-content .forms-positin,
#lent-book .modal-content .forms-positin,
#add-image .modal-content .forms-positin,
#add-wiki .modal-content .forms-positin {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    -khtml-justify-content: space-between;
    justify-content: space-between;
    margin-bottom: 10px;
}
#lent-book .modal-content .forms-positin label {
    color: #999;
    font-size: 15px;
    font-family: AvenirLight;
}
.search-section {
    position: relative;
}

.add-icons {
    padding-top: 8px;
}

.add-icons a {
    text-decoration: none;
}

.search-section .search {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    color: #9a9ea0;
}

#lent-book .us-avatar, #add-music .us-avatar {
    display: inline-block;
    width: 45px;
    height: 45px;
    margin-right: 10px;
}

#lent-book .modal-body, #add-video .modal-body, #add-music .modal-body, #add-image .modal-body, #add-wiki .modal-body {
    background: #fff;
    width: 400px;
    padding: 0 20px 20px;
    position: absolute;
    left: 0;
    right: 0;
    top: -100%;
    margin: 0 auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    overflow: auto;
}

#lent-book .modal-result, #add-video .modal-result, #add-music .modal-result, #add-image .modal-result, #add-wiki .modal-result {
    max-height: 60vh;
    overflow: auto;
}

#lent-book .modal-body .button-submit,
#add-music .modal-body .button-submit,
#add-video .modal-body .button-submit, #add-image .modal-body .button-submit {
    width: 100%;
    text-transform: capitalize;
    background-color: #e1e1e1;
    color: #000;
}

article {
    padding-bottom: 0 !important;
}

.lent img {
    width: 35px;
    height: 35px;
}

/*modal footer*/
@media (max-width: 767px) {
    #add-video, #add-music, #lent-book, #add-image, #add-wiki {
        overflow-x: scroll;
    }
}

#add-video .load-more, #add-music .load-more, #lent-book .load-more, #add-image .load-more {
    margin: auto;
    text-align: center;
}