.individual-books-mark, .user-marked-list .post-user {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.individual-books-mark {
    margin-top: 30px;
}

.markup-list {
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    -ms-flex-grow: 1;
    -o-flex-grow: 1;
    -khtml-flex-grow: 1;
    flex-grow: 1;
    min-width: 320px;
}

.individual-books-mark .markup-list .active, .individual-books-mark .markup-list .active a:first-of-type {
    color: #1abc9c;
    background: transparent;
}

.individual-books-mark .markup-list ul {
    border-right: 2px solid #a6a6a6;
    padding-right: 25px;
    max-width: 300px;
}

.individual-books-mark .markup-list li {
    list-style: none;
    background: #f5f5f5;
    padding: 12px;
    margin-bottom: 2px;
}

.individual-books-mark .markup-list li a:nth-of-type(2) {
    font-size: 20px;
}

.individual-books-mark .markup-list li a {
    text-decoration: none;
    color: #acacac;
}

.user-marked-list {
    -webkit-flex-grow: 2;
    -moz-flex-grow: 2;
    -ms-flex-grow: 2;
    -o-flex-grow: 2;
    -khtml-flex-grow: 2;
    flex-grow: 2;
    padding: 0 50px;
}

.user-marked-list .post-user {
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    -khtml-align-items: center;
    align-items: center;
}
.user-marked-list  article{
    padding: 0 !important;
}
.user-marked-list .user-name {
    display: inline-block;
    color: #293136;
    height: auto;
    margin-left: 20px;
    line-height: 50px;
}

.user-marked-list .post-time > span {
    line-height: 50px;
}

.user-marked-list .user-name span {
    color: #A0A0A0;
    font-style: italic;
    margin-right: 10px;
    font-weight: normal;
    line-height: 16px;
}

.user-marked-list .audio-play {
    margin: 0;
    border-bottom: 1px solid #b7b7b7;
    padding: 27px 0;
}

.user-marked-list .audio-play.pt-0 {
    padding-top: 0;
}

.user-marked-list .audio-play.pad-50-175 {
    padding: 50px 0;
}

.user-marked-list .audio-play .book-img, .w-50 {
    width: 50% !important;
}

.user-marked-list .audio-play .book-img img {
    width: 100%;
    height: 260px;
}

.user-marked-list .audio-play .audio-desc.pl-280 {
    padding-left: 55%;
}

.user-marked-list .close {
    text-decoration: none;
}

.user-marked-list .close img {
    height: 30px;
    margin-left: 54px;
}

.image-video-list, .user-marked-list .audio-play {
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    -khtml-flex-direction: column;
    flex-direction: column;
}

.pace-for-audioplayer {
    width: 100%;
    height: 40px;

    margin: 40px 5px -14px;
    color: #fff;
    text-align: center;
    line-height: 40px;
}

.image-video-list .social-icon-timeline {
    -webkit-align-self: flex-end;
    -moz-align-self: flex-end;
    -ms-align-self: flex-end;
    -o-align-self: flex-end;
    -khtml-align-self: flex-end;
    align-self: flex-end;
    margin-top: 50px;
}

.image-video-list .witi-desc {
    padding-right: 50px;
}

.delete-markup {
    vertical-align: middle;
    width: 18px;
    height: 18px;
    margin-top: -4px;
    margin-left: 5px;
}