body,
html {
    overflow: hidden;
    margin: 0;
    padding: 0;
}

/* mini chat */
.clearfix:before, .clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.chat {
    display: none;
    position: absolute;
    z-index: 555;
    top: 55px;
    width: 385px;
    height: 362px;
    background: #ffffff;
    box-shadow: 0 2px 7px #A7A7A7;
    overflow-y: scroll;
    white-space: nowrap;
    left: 35px;
}

.chat::-webkit-scrollbar {
    width: 0;
    background-color: #FFFFFF;
}

.chat ul li {
    margin: 0;
    padding: 0;
}

.chat span {
    border-bottom: 1px solid #000000;
    display: block;
    margin: 0;
    width: auto;
    height: 40px;
    line-height: 40px;
}

.chat span .topItems {
    padding-left: 10px;
    color: #000000;
    display: inline-block;
    margin: 0;
}

.chat span .topItems a {
    color: #1bbc9b;
}

.mess-read, .mess-unread {
    cursor: pointer;
    display: block;
    padding: 4px 0 0 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #000000;
}

.mess-read p, .mess-unread p {
    color: #c2c2c2;
}

.mess-read h3, .mess-unread h3 {
    color: #283233;
    margin-bottom: 5px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.mess-read:hover, .mess-unread:hover {
    background: #c1e8e0 !important;
}

.mess-unread {
    background: #eaf9f6 !important;
}

.chat-user-name {
    float: left;
    width: 285px;
}

.mess-read img, .mess-unread img {
    display: inline-block;
    padding: 0;
    margin: 5px 10px;
    float: left;
    width: 60px;
    height: 60px;
}

.mess-read p, h3, .mess-unread p, h3 {
    height: 35px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/***** fixed chat ****/
#message_list {
    overflow-y: scroll;
    height: 240px;
}

.fixedChat, .fixedChatHeader {
    display: block;
    position: fixed;
    z-index: 555;
    width: 44%;
}

.fixedChat {
    right: 0;
    bottom: 0;
    height: 360px;
    background: #FFFFFF;
    overflow: hidden;
    border: 1px solid #000000;
}

.fixedChatHeader {
    height: 40px;
    background: #293136;
}

.fixedChatHeader img, .fixedChatHeader p {
    display: inline-block;
}

.fixedChatHeader img {
    float: right;
    margin: 10px;
    padding-right: 5px;
}

.fixedChatHeader img:hover {
    cursor: pointer;
}

.fixedChatHeader p {
    float: left;
    color: #FFFFFF;
    margin: 8px;
    padding-left: 15px;
}

.fixedChat ul li {
    list-style: none;
    display: block;
    margin-bottom: 10px;
    white-space: initial;
}

.fixedChatArea {
    width: 100%;
    position: relative;
    bottom: 0;
    display: block;
    height: 90px;
    background: #ffffff;
    border-top: 1px solid #ebebeb;
}

.fixedChatArea textarea {
    padding: 10px 5px;
    width: 90%;
    border: none;
    height: 23px;
    outline: 0;
    cursor: auto;
    text-align: start;
    margin: 0;
    resize: none;
    font-size: 15px;
}

.load_more_loading {
    display: none;
    height: 40px;
    margin: auto;
}

.messages-wrap {
    padding-top: 40px;
}

.no-your-message .mess-items-text,
.no-your-message .mess-items {
    padding: 15px;
    background-color: #ebebeb;
    color: #676767;
    border: 0;
    text-align: left;
    min-width: 60px;
    max-width: 74%;
    border-radius: 5px;
    float: left;
    margin-left: 17px;
    word-wrap: break-word;
}

.your-message .mess-items-text,
.your-message .mess-items {
    max-width: 85%;
    padding: 15px;
    background-color: #1abf9e;
    border: 0;
    text-align: right;
    min-width: 60px;
    border-radius: 5px;
    margin-left: 20%;
    float: right;
    margin-right: 17px;
    word-wrap: break-word;
}

.your-message .mess-items p,
.your-message .mess-items-text p,
.your-message .mess-items-text,
.your-message .mess-items {
    color: #FFFFFF;
    white-space: initial;
}

.your-message .mess-items-image,
.no-your-message .mess-items-image {
    padding-right: 15px;
    width: 140px;
    height: 140px;
    text-align: -webkit-right;
}

.your-message .mess-items-image {
    float: right;
}

.your-message .mess-items img,
.no-your-message .mess-items img {
    width: 50px;
    height: 50px;
}

.no-your-message .mess-items-image {
    float: left;
}

.your-message span, .no-your-message span {
    color: #666666;
    margin-bottom: 5px;
    font-size: 11px;
}

.your-message span {
    float: right;
    width: 73%;
    margin-right: 25px;
    line-height: 15px;
    text-align: right;
}

.no-your-message span {
    float: left;
    width: 85%;
    margin-left: 70px;
    line-height: 15px;
    text-align: left;
}

.no-your-message .image-block {
    display: inline-block;
    float: left;
    width: 30px;
    height: 30px;
    padding-left: 15px;
    padding-top: 0;
}

.no-your-message .image-block img {
    width: 100%;
    height: 100%;
}

.fixedChatArea #send-message,
.add-photo, .smiles {
    position: absolute;
    cursor: pointer;
}

.fixedChatArea #send-message {
    top: 15px;
    right: 10px;
    width: 40px;
    height: 30px;
    background: url(../img/icons/send.png) no-repeat;
}

.add-photo, .smiles {
    bottom: 10px;
    width: 35px;
    height: 26px;
}

.add-photo {
    left: 9px;
    background: url(../img/icons/photo.png) no-repeat;
}

.smiles {
    left: 60px;
    background: url(../img/icons/smile.png) no-repeat;
}

/************       fixedChatusersList left ******************************/
.fixedChatusersList {
    position: fixed;
    z-index: 555;
    margin-top: 40px;
    text-align: center;
    word-wrap: break-word;
    background: #17a387;
    height: 338px;
}

.fixedChatusersList.left {
    float: left;
    position: inherit;
}

.fixedChatusersList > div {
    overflow-y: scroll;
    height: inherit;
}

.fixedChatusersList .image-block {
    margin: 0 auto;
    width: 60%;
    height: 70px;
}

.fixedChatusersList .image-block > img {

    width: 100%;
    height: 100%;
}

.fixedChatusersList img {
    padding-top: 10px;
}

.fixedChatusersList p {
    padding-top: 15px;
    height: 45px;
}

.fixedChatusersList ul li {
    margin: 0;
    position: relative;
    display: inherit;
    cursor: pointer;
}

.fixedChatusersList > div ul li:hover {
    background: #FFFFFF;
    color: #17a387;
    display: inherit;
}

.fixedChatusersList::-webkit-scrollbar-track, .fixedChat::-webkit-scrollbar-track, #mini-chat-message::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.0);
    background-color: #ffffff;
}

.fixedChatusersList::-webkit-scrollbar, .fixedChat::-webkit-scrollbar, #mini-chat-message::-webkit-scrollbar {
    width: 0;
    background-color: #FFFFFF;
}

.fixedChatusersList::-webkit-scrollbar-thumb, .fixedChat::-webkit-scrollbar-thumb, #mini-chat-message::-webkit-scrollbar-thumb {
    background-color: #FFFFFF;
}

.notification-bar .message {
    position: relative;
}

.notification-bar .message div {
    background-color: red;
    position: absolute;
    top: -10px;
    left: 35px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    font-size: 15px;
    text-align: center;
}

.visible {
    display: block !important;
}

.activeConversation {
    background-color: #676767;
    display: inherit !important;
}

.fixChatUserNewMess {
    width: 17px;
    height: 17px;
    background: red;
    border-radius: 50%;
    position: absolute;
    bottom: 40%;
    right: 15%;
}

.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}

.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.upload-photo {
    opacity: 0;
    position: absolute;
    left: 9px;
    bottom: 5px;
    width: 35px;
    height: 26px;
    z-index: 22;
}

.fixedChatMessageImage, .fixedChatMessageImage > img {
    width: 100% !important;
    height: 100% !important;
}

.fixedChatMessageImage > img {
    object-fit: contain;
}

/********* EMOTICONS *****************/
.emoticons {
    position: absolute;
    display: none
}

.emoticons {
    width: 92.8%;
    right: 0;
    bottom: 91px;
    background-color: #919191;
    border: 2px solid green;
    padding: 20px;
    z-index: 3100000;
    cursor: pointer;
}

.emote {
    float: left;
    width: 10%;
    height: 43px;
}

.emote img {
    width: 100%
}

.emoji {
    display: inline-block;
    width: 42px;
    height: 42px;
    background: url(../img/emotic.png) no-repeat;
}

.face-puke {
    background-position: -62px 0;
}

.face-winktongue {
    background-position: -117px 0;
}

.face-tongue {
    background-position: -332px 2px;
}

.face-eat {
    background-position: -3px 0;
}

.face-facepalm {
    background-position: -171px 2px;
}

.face-angry {
    background-position: -390px -40px;
}

.face-what {
    background-position: -116px -85px;
}

.face-glasses {
    background-position: -448px 0;
}

.face-hello {
    background-position: -169px -86px;
}

.face-shash {
    background-position: -445px -38px;
}

.face-sleep {
    background-position: -502px -40px;
}

.face-devil {
    background-position: -62px -82px;
}

.face-like {
    background-position: -4px -83px;
}

.face-cake {
    background-position: -336px -83px;
}

.face-kiss {
    background-position: -390px 0;
}

.face-smile-big {
    background-position: -499px 0;
}

.face-monkey {
    background-position: -282px -85px;
}

.face-love {
    background-position: -280px 0;
}

.face-cool {
    background-position: -226px 0;
}

.face-smile {
    background-position: -334px -43px;
}

.face-sad {
    background-position: -280px -43px;
}

.face-wink {
    background-position: -226px -43px;
}

.face-grin {
    background-position: -172px -43px;
}

.face-surprise {
    background-position: -117px -42px;
}

.face-angel {
    background-position: -226px -86px;
}

.face-crying {
    background-position: -5px -42px;
}

.face-hasitate {
    background-position: -61px -43px;
}

.chat-items-wrap .chat-items p > .message-emoji {
    width: 30px;
    height: 30px;
}

.fixedChat .messages-wrap li .mess-items-text p > .message-emoji {
    width: 40px;
    height: 40px;
}