.childContent{
    min-width: 900px;
}
@media (max-width: 768px){
    section {
        margin: 3px 3.5% 10px 2.5%;
        width: 58.4%;
    }
}
.user145{
    display: block;
}

.notification{
    width: 100%;
}
.notificItems,.diffNotificItems {
    position: relative;
    width: 99%;
    margin: 0 auto;
    border-bottom: 1px solid #E4E5E5;
    overflow: hidden;
}
.notificItems{
    height: 70px;
    padding: 12px 0 12px 1%;
}

.notificItems:hover{
    background-color: #c1e8e0 !important;
    cursor: pointer;
}

.diffNotificItems{
    height: 130px;
    padding: 10px 18px 10px 0;
}

.notificItems:last-of-type{
    border: none;
}

.friendImage{
    display: inline-block;
    float: left;
    width: 70px;
    height: 70px;
    padding-right: 15px;

}

.friendImage img{
    width: 100%;
    height: 100%;
}
.bookTitle,.notific {
    min-width: 36%;
    height: 22px;
    overflow: hidden;
}
.notific{
    max-width: 80%;
    margin-bottom: 5px;
}

.notific span,.bookTitle a{
    font-weight: bold;
}

.bookTitle{
    max-width: 83%;
    margin-bottom: 3px;
}

.bookTitle a{
    color: #19BD9B;
}

.date {
    position: absolute;
    bottom: 5px;
    left: 115px;
    width: 255px;
    max-width: 83%;
    height: 22px;
    overflow: hidden;
    margin-bottom: 3px
}

.diffDate{
    display: block;
    margin-top: 30px;
    bottom: 5px;
    width: 80%;
    left: 82px;
    height: 22px;
    overflow: hidden;
    top: 63px;
}

.noticed, .unnoticed{
    position: absolute;
    top: 10px;
    right: 27px;
    width: 15px;
    height: 15px;
    border: 2px solid #19BD9B;
    border-radius: 50%;
}

.unnoticed{
    background: #19BD9B;
}

.noticed{
    background-color: #ffffff;
}

.friendRequest{
    margin: 10px auto;
    text-align: center;
    width: 450px;
    height: 42px;
}

.friendRequest div{
    display: inline-block;
    float: left;
    width: 44%;
    height: 40px;
    line-height: 40px;
    border: 1px solid #9A9A9A;
    border-radius: 6px;
    color: #9A9A9A;
    cursor: pointer;
}

.friendRequest div:hover{
    background-color: #00bd9c;
    color: #FFFFFF;
}

.friendRequest div:first-of-type{
    margin-right: 11%;
}



