body, ul, ul li {
    margin: 0 !important;
    padding: 0 !important;
}

#message_list {
    overflow-y: auto;
    height: calc(100vh - 170px);
}

.fixedChat, .fixedChatHeader, .fixedChatArea {
    display: block;
    position: fixed;
}

.fixedChat {
    height: 100vh;
    z-index: 555;
    right: 0;
    bottom: 0;
    width: calc(100% - 130px);
    background: #FFFFFF;
    box-sizing: border-box;
}

.fixedChatHeader {
    top: 0;
    z-index: 5555;
    width: 100%;
    height: 60px;
    background: #293136;
}

.fixedChatHeader img {
    float: right;
    display: inline-block;
    margin: 10px;
    padding-right: 10px;
    margin-top: 17px;
}

.fixedChatHeader img:hover {
    cursor: pointer;
}

.fixedChatHeader p {
    display: inline-block;
    float: left;
    color: #FFFFFF;
    margin: 8px;
    padding-left: 15px;
    margin-top: 19px;
}

.fixedChat ul li {
    list-style: none;
    display: block;
    margin-bottom: 10px;
}

.fixedChatArea {
    width: 100%;
    bottom: 0;
    height: 90px;
    background: #ffffff;
    border-top: 1px solid #ebebeb;
}

.fixedChatArea textarea {
    padding: 10px 5px;
    width: 90%;
    border: none;
    height: 40px;
    outline: 0;
    cursor: auto;
    text-align: start;
    margin: 0;
    resize: none;
    font-size: 15px;
}

.load_more_loading {
    display: none;
    height: 40px;
    margin: auto;
}

.messages-wrap {
    width: 100%;
    padding: 60px 15px 85px;
}

.no-your-message .mess-items-text {
    padding: 15px;
    background-color: #ebebeb;
    color: #676767;
    border: 0;
    text-align: left;
    min-width: 60px;
    max-width: 74%;
    border-radius: 5px;
    float: left;
    margin-left: 17px;
    word-wrap: break-word;
}

.no-your-message .mess-items {
    padding: 15px;
    background-color: #ebebeb;
    color: #676767;
    border: 0;
    text-align: left;
    min-width: 60px;
    max-width: 67%;
    border-radius: 5px;
    float: left;
    margin-left: 10px;
    word-wrap: break-word;
}

.no-your-message .mess-items p,
.your-message .mess-items p {
    margin: 0;
}

.your-message .mess-items-text,
.your-message .mess-items {
    padding: 15px;
    background-color: #1abf9e;
    color: #FFFFFF;
    border: 0;
    text-align: right;
    min-width: 60px;
    border-radius: 5px;
    margin-left: 20%;
    float: right;
    margin-right: 17px;
    word-wrap: break-word;
}

.your-message .mess-items {
    max-width: 85%;
}

.your-message .mess-items-image {
    padding-right: 15px;
    width: 140px;
    height: 140px;
    text-align: -webkit-right;
    float: right;
}

.your-message .mess-items img,
.no-your-message .mess-items img {
    width: 50px;
    height: 50px;
}

.no-your-message .mess-items-image {
    padding-left: 15px;
    width: 140px;
    height: 140px;
    text-align: -webkit-left;
    float: left;
}

.your-message span,
.no-your-message span {
    color: #666666;
    line-height: 15px;
    margin-bottom: 5px;
    font-size: 11px;
}

.your-message span {
    float: right;
    width: 88%;
    margin-right: 25px;
    text-align: right;
}

.no-your-message span {
    float: left;
    width: 100%;
    box-sizing: border-box;
    padding-left: 50px;
    margin-top: 10px;
}

.no-your-message .image-block {
    display: inline-block;
    float: left;
    width: 30px;
    height: 30px;
    padding-top: 0;
}

.no-your-message .image-block img {
    width: 100%;
    height: 100%;
}

.fixedChatArea #send-message {
    position: fixed;
    bottom: 34px;
    right: 32px;
    width: 38px;
    height: 30px;
    background: url(../img/icons/send.png) no-repeat;
    cursor: pointer;
}

.add-photo, .smiles {
    position: absolute;
    bottom: 5px;
    width: 35px;
    height: 26px;
    cursor: pointer;
}

.add-photo {
    left: 9px;
    background: url(../img/icons/photo.png) no-repeat;
}

.smiles {
    left: 60px;
    background: url(../img/icons/smile.png) no-repeat;
}

/************       fixedChatusersList left ******************************/
.fixedChatusersList {
    position: fixed;
    left: 0;
    float: left;
    bottom: 0;
    width: 130px;
    z-index: 555;
    text-align: center;
    word-wrap: break-word;
    background: #17a387;
    min-height: 0;
    max-height: calc(100vh - 60px);
    overflow-y: scroll;
}

.fixedChatusersList .image-block {
    margin: 0 auto;
    width: 65%;
    height: 75px;
}

.fixedChatusersList .image-block > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.fixedChatusersList img {
    padding-top: 13px;
}

.fixedChatusersList p {
    padding-top: 5px;
    height: 45px;
}

.fixedChatusersList ul li {
    margin: 0;
    position: relative;
}

.fixedChatusersList ul li:hover {
    background: #FFFFFF;
    color: #17a387;
    cursor: pointer;
}

.fixedChatusersList::-webkit-scrollbar-track,
.fixedChat::-webkit-scrollbar-track,
#mini-chat-message::-webkit-scrollbar-track,
.messages-wrap::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.0);
    background-color: #ffffff;
}

.fixedChatusersList::-webkit-scrollbar,
.fixedChat::-webkit-scrollbar,
#mini-chat-message::-webkit-scrollbar,
.messages-wrap::-webkit-scrollbar {
    width: 0;
    background-color: #FFFFFF;
}

.fixedChatusersList::-webkit-scrollbar-thumb,
.fixedChat::-webkit-scrollbar-thumb,
#mini-chat-message::-webkit-scrollbar-thumb,
.messages-wrap::-webkit-scrollbar-thumb {
    background-color: #FFFFFF;
}

.notification-bar .message {
    position: relative;
}

.notification-bar .message div {
    background-color: red;
    position: absolute;
    top: -10px;
    left: 35px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    font-size: 15px;
    text-align: center;
}

.visible {
    display: block !important;
}

.activeConversation {
    background-color: #676767 !important;
}

.fixChatUserNewMess {
    width: 17px;
    height: 17px;
    background: red;
    border-radius: 50%;
    position: absolute;
    bottom: 40%;
    right: 15%;
}

.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}

.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.upload-photo {
    opacity: 0;
    position: absolute;
    left: 9px;
    bottom: 5px;
    width: 35px;
    height: 26px;
    z-index: 22;
}

.fixedChatMessageImage,.fixedChatMessageImage > img {
    width: 100% !important;
    height: 100% !important;
}

/********* EMOTICONS *****************/
.emoticons {
    position: absolute;
    display: none
}

.emoticons {
    width: 470px;
    float: left;
    bottom: 91px;
    background-color: #919191;
    border: 2px solid green;
    padding: 20px;
    z-index: 3100000;
    cursor: pointer;
}

.emote {
    float: left;
    width: 10%;
    height: 43px;
}

.emote img {
    width: 100%
}

.emoji {
    display: inline-block;
    width: 42px;
    height: 42px;
    background: url(../img/emotic.png) no-repeat;
}

.face-puke {
    background-position: -62px 0;
}

.face-winktongue {
    background-position: -117px 0;
}

.face-tongue {
    background-position: -332px 2px;
}

.face-eat {
    background-position: -3px 0;
}

.face-facepalm {
    background-position: -171px 2px;
}

.face-angry {
    background-position: -390px -40px;
}

.face-what {
    background-position: -116px -85px;
}

.face-glasses {
    background-position: -448px 0;
}

.face-hello {
    background-position: -169px -86px;
}

.face-shash {
    background-position: -445px -38px;
}

.face-sleep {
    background-position: -502px -40px;
}

.face-devil {
    background-position: -62px -82px;
}

.face-like {
    background-position: -4px -83px;
}

.face-cake {
    background-position: -336px -83px;
}

.face-kiss {
    background-position: -390px 0;
}

.face-smile-big {
    background-position: -499px 0;
}

.face-monkey {
    background-position: -282px -85px;
}

.face-love {
    background-position: -280px 0;
}

.face-cool {
    background-position: -226px 0;
}

.face-smile {
    background-position: -334px -43px;
}

.face-sad {
    background-position: -280px -43px;
}

.face-wink {
    background-position: -226px -43px;
}

.face-grin {
    background-position: -172px -43px;
}

.face-surprise {
    background-position: -117px -42px;
}

.face-angel {
    background-position: -226px -86px;
}

.face-crying {
    background-position: -5px -42px;
}

.face-hasitate {
    background-position: -61px -43px;
}

.chat-items-wrap .chat-items p > .message-emoji {
    width: 30px;
    height: 30px;
}

.fixedChat .messages-wrap li .mess-items-text p > .message-emoji {
    width: 40px;
    height: 40px;
}