@font-face {
    font-family: 'custom-font';
    src: url('../fonts/custom-font.eot?39278683');
    src: url('../fonts/custom-font.eot?39278683#iefix') format('embedded-opentype'),
    url('../fonts/custom-font.woff?39278683') format('woff'),
    url('../fonts/custom-font.ttf?39278683') format('truetype'),
    url('../fonts/custom-font.svg?39278683#custom-font') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome-webfont.eot?v=3.0.1');
    src: url('../fonts/fontawesome-webfont.eot?#iefix&v=3.0.1') format('embedded-opentype'),
    url('../fonts/fontawesome-webfont.woff?v=3.0.1') format('woff'),
    url('../fonts/fontawesome-webfont.ttf?v=3.0.1') format('truetype');
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'georgia-bold';
    src: url('../fonts/georgian/georgia-bold.eot');
    src: url('../fonts/georgian/georgia-bold.woff') format('woff'),
    url('../fonts/georgian/georgia-bold.ttf') format('truetype'),
    url('../fonts/georgian/georgia-bold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'georgia';
    src: url('../fonts/georgian/Georgia.eot'),
    url('../fonts/georgian/Georgia.woff') format('woff'),
    url('../fonts/georgian/Georgia.ttf') format('truetype'),
    url('../fonts/georgian/Georgia.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir';
    src: url('../fonts/new/Avenir-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'Avenir-Medium';
    src: url('../fonts/new/Avenir-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'AvenirNext-Regular';
    src: url('../fonts/new/AvenirNext-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: AvenirLight;
    src: url('../fonts/new/Avenir-Light.ttf') format('truetype');
}

@font-face {
    font-family: AvenirBook;
    src: url('../fonts/new/Avenir-Book.ttf') format('truetype');
}

@font-face {
    font-family: 'AvenirNext-Medium';
    src: url('../fonts/new/AvenirNext-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'AvenirNext-Italic';
    src: url('../fonts/new/AvenirNext-Italic.eot') format('embedded-opentype'),
    url('../fonts/new/AvenirNext-Italic.ttf') format('ttf'),
    url('../fonts/new/AvenirNext-Italic.woff') format('woff'),
    url('../fonts/new/AvenirNext-Italic.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

/*belgrano georgian*/
@font-face {
    font-family: 'BelgranoRegular';
    src: url('../fonts/belgrano/Belgrano-Regular.eot'),
    url('../fonts/belgrano/Belgrano-Regular.woff') format('woff'),
    url('../fonts/belgrano/Belgrano-Regular.ttf') format('truetype'),
    url('../fonts/belgrano/Belgrano-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

p{
    margin: 0;
}

/*new added*/
.header-profile {
    position: fixed;
    z-index: 2000;
    height: 54px;
    background-color: #293136;
    color: white;
    width: 100%;
    white-space: nowrap;
}

nav {
    height: 100%;
}

body {
    background-color: #f4f4f4;
    margin: 0;
    font-family: 'AvenirNext-Medium';
    overflow-x: hidden;
}

.profile {
    width: 86%;
    margin: 0 auto;
}

.ng-scope .header-profile > ul {
    margin-left: 22%;
    list-style-type: none;
    display: block;
}

.header-profile ul > li {
    margin-top: 5px;
    display: inline;
    position: relative;
}

#triangle-topleft {
    width: 0;
    height: 0;
    border-top: 54px solid #00bd9c;
    border-right: 120px solid transparent;
    float: left;
}

.notification-bar {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #00bd9c;
    float: left;
    height: 100%;
    width: 245px;
    padding-left: 30px;
}

.notification-bar ul {
    margin: 0;
    padding-left: 0;
}

.notification-bar > p {
    font-size: 15px;
    margin-left: 30px;
    line-height: 54px;
    cursor: pointer;
}

.notification-bar > p > i {
    font-size: 20px;
}

.menu-icon {
    font-family: "custom-font";
    font-style: normal;
    font-weight: normal;
    speak: none;
    font-size: 25px;
    padding: 14px;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    cursor: pointer;

    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;

    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;

    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;

    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#search {
    padding: 8px;
    background-color: #293136;
    color: white;
    border: none;
    outline: none;
    margin-top: 10px;
    width: 72%;
    border: 0;
    outline: 0;
    margin-left: 0;
}

.icon-search {
    padding: 0 !important;
    margin-right: 0 !important;
    margin-left: 5px !important;
    cursor: pointer;
    position: absolute;
    top: 15px;
    right: -25px;
}

#search-param {
    overflow: hidden;
    width: 100%;
    border-bottom: 1px solid white;
    padding-left: 0;
    height: 43px;
}

#search-param > span {
    cursor: pointer;
    position: absolute;
    right: 4px;
    top: 15px;
    font-family: 'Avenir';
}

#search-param > form {
    display: inline;
}

#search_filter {
    color: white;
    background: none;
    font-size: 14px;
    border: none;
    outline: none;
}

#search_filter > option {
    background-color: #293136;
}

.search-area {
    display: inline-block;
    height: 54px;
    width: 52%;
    position: relative;
    float: left;
}

.search-area-block {
    position: absolute;
    top: 54px;
    right: 0;
    width: 59% !important;
    min-width: 400px;
    background-color: #00bd9c;
    margin: 0 auto;
    z-index: 555;
    padding: 10px;
    display: none;
    font-size: 14px;
}

.search-area-block-left, .search-area-block-right {
    width: 48%;
    color: #2D3134;
}

.search-area-block-left {
    border-right: 1px solid black;
}

.search-area-title {
    color: #2D3134;
    font-weight: 600;
    font-size: 15px;
    margin: 9px 0;
}

input[type=radio] {
    display: none;
}

label {
    cursor: pointer;
}

.radio1 input + label:before, .radio2 input + label:before, .radio3 input + label:before {
    content: "";
    display: inline-block;
    width: 15px;
    height: 15px;
    border: 1px solid #2D3134;
    padding: 3px;
    box-sizing: border-box;
    border-radius: 50%;
    vertical-align: top;
    margin: 0 15px 10px 0;
}

.radio1 input:checked + label:before,
.radio2 input:checked + label:before,
.radio3 input:checked + label:before {
    border-color: #17A389;
    background: #17A389;
}

.search-area-block-bottom {
    border-top: 1px solid #2D3134;
    margin-top: 10px;
    color: #50C1A1;
    padding-top: 10px;
    text-align: right;
    font-style: italic;
    text-decoration: underline;
    font-size: 14px;
    cursor: pointer;
}

.left {
    float: left;
    position: relative;
    overflow: hidden;
}

.edit_picture_button {
    background: rgba(0, 0, 0, .7);
    bottom: -30%;
    position: absolute;
    width: 100%;
    height: 30%;
    left: 0;
    right: 0;
    border: 0;
    color: white;
}

.right {
    float: right;
}

.header-logo {
    color: white;
    float: right;
    margin-right: 3%
}

.header-logo .logo {
    width: 40px;
    padding: 8px 8px 0 8px;
    margin-left: 20px;
    float: left;
}

.header-logo h1 {
    float: right;
    margin: 0;
    margin-top: 16px;
    font-size: 18px;
    font-weight: 400;
    color: #FFFFFF;
    font-family: 'BelgranoRegular';
}

.notification-bar li :hover {
    cursor: pointer;
    background-color: #139e86;

}

.nav-menu {
    width: 280px;
    clear: both;
    background-color: #ffffff;
}

.body-section {
    -moz-transition: all 200ms ease-in;
    -webkit-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
}

.avatar img {
    width: 35px;
    height: 35px;
    position: relative;
    top: 11px;
    left: 8px;
}

.us-avatar {
    display: inline-block;
    width: 45px;
    height: 45px;
}

.display-author {
    width: 78%;
    display: inline-block;
}

.display-author span a {
    padding-left: 25px;
}

.display-author > .menu-us-display-name {
    font-size: 15px;
    margin: 0 0 5px 5px;
    font-weight: 600;
    word-wrap: break-word;
}

.us-avatar > img {
    width: 100%;
    height: 100%;
}

.us-display-name {
    font-size: 20px;
    margin: 0 0 10px 10px;
    font-weight: 600;
    word-wrap: break-word;
}

.us-name {
    position: relative;
    top: -5px;
    left: 5px;
    font-size: 20px;
}

.nav-item {
    font-size: 15px;
}

.menu li, .nav-item li {
    list-style: none;
}

.menu > ul > li:first-of-type {
    margin-top: 20px;
}

.menu > ul > li > a:hover {
    color: #ffffff;
}

.user-info {
    position: fixed;
    top: 0;
    width: 253px;
    background: #00bd9c;
    padding: 3px 2px 0 25px;
    color: #ffffff;
    height: 51px;

}

.menu {
    margin-top: 64px;
}

.user-info > a {
    text-decoration: none;
    color: #ffffff;
}

.menu > ul {
    padding: 0;
    margin: 0;
}

.publisher {
    border: none;
}

.line {
    border-bottom: 1px solid #808080;
}

.nav-footer {
    background-color: #959595;
    text-align: right;
    color: #293136;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0 20px;
    box-sizing: border-box;
    width: 100%;
}

.nav-footer > i {
    display: block;
    float: right;
}

.menu ul li a {
    text-decoration: none;
    color: #000;
}

.nav-item:hover {
    background-color: #139e86;
}

.nav-item > a {
    width: 100%;
    height: 100%;
    display: inline-block;
    padding: 10px 25px 10px 25px;
    box-sizing: border-box;

}

.notification a {
    color: #FFFFFF;
    text-decoration: none;
}

.nav-footer > a {
    float: inherit;
    text-decoration: none;
    color: #000000;
}

section {
    float: left;
    margin: 3px 2.5% 10px 2.5%;
    width: 59.4%;
}

article {
    width: 100%;
    height: auto;
    background-color: white;
    padding: 15px 15px 15px 10px !important;
    border: 1px solid #E9E9E9;
    box-shadow: 0 3px 7px #DADADA;
    margin-bottom: 20px !important;
}

.art-date, .audio-play, .flex-box {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.art-date > hr {
    width: 80px;
    float: left;
    border-top: 1.5px solid #00bd9c;
    margin-top: 7px;
    align-self: center;
    -webkit-align-items: center;
}

.post-date {
    text-transform: uppercase;
    color: #00bd9c;
    margin-left: 10px;
}

.post-user {
    margin: 10px 0;
}

.post-time {
    color: #A0A0A0;
    font-size: 15px;
}

.post-time > time {
    float: right;
}

.post-time > span {
    margin-left: 10px;
    font-family: 'AvenirNext-Italic';
}

.post-time > span > span {
    color: #1abc9c;
    font-family: 'AvenirNext-Medium';
}

.yotta-text-color {
    color: #1abc9c;
}

.post-user .display-author {
    display: inline-block;
    width: calc(100% - 50px);
}

.post-item {
    position: relative;
}

.post-item-image, .result-item-image {
    border: 1px solid #ECECEC;
    height: 190px;
    display: inline-block;
    width: 21%;
    overflow: hidden;
}

.post-item-image img, .result-item-image img {
    height: 90%;
    display: block;
    margin: 0 auto;
    padding-top: 10px;
}

.post-item-image-block, .result-item-image-block {
    width: 65%;
    background-color: #F0F0F0;
    padding-top: 10px;
    border: 1px solid #EEEEEE;
    height: 80%;
    margin: 10px auto;
}

.post-item-image-wrap {
    width: 75%;
    margin: 0 auto;
}

.post-item-image-wrap img {
    width: 100%;
}

.post-item-image-text {
    width: 60%;
    margin: 10px auto;
    text-align: center;
    color: #C1C1C1;
    text-transform: uppercase;
    font-size: 14px;
}

.post-item-info {
    float: right;
    width: 72%;
}

.post-item-title, .book-item-title {
    font-size: 18px;
    font-family: 'georgia';
}

.post-item-title a {
    text-decoration: none;
    color: #0E0E0E;
    font-family: 'georgia-bold';
}

.book-item-auther {
    margin: 10px 0;
    color: #484848;
    font-weight: 600;
    cursor: pointer;
    font-family: 'georgia';
}

.book-item-location {
    margin: 10px 0;
}

.book-item-location, .book-item-publish, .bookRate {
    font-family: 'Avenir';
    color: #000
}

.book-item-publish {
    margin: 10px 0;
}

.icon {
    font-family: "custom-font";
    font-style: normal;
    font-weight: normal;
    speak: none;
}

.post-item-footer {
    margin-top: 15px;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    -khtml-justify-content: space-between;
    justify-content: space-between;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}

.underline {
    border-bottom: 1px solid #919191;
    margin-top: 15px;
    padding-bottom: 8px;
}

.post-vote {
    color: #E54C3B;
    font-size: 20px;
}

.post-vote-icon {
    margin-top: -3px;
    width: 27px;
    object-fit: contain;
}

.footer-icon > .text {
    color: #3C3C3C;
    font-size: 15px;
    margin-left: 3px;
    font-family: AvenirBook;
    text-decoration: none;
}

.likess {
    font-family: AvenirBook;
    font-size: 18px;
    line-height: 27px;
    padding-left: 4px;
}

.footerSocial-icon .ficon-fb:hover {
    color: #3b5998;
}

.footerSocial-icon .ficon-tw:hover {
    color: #099fdf;
}

.footerSocial-icon .ficon-gp:hover {
    color: #ed1c24;
}

.bookAuthor {
    cursor: pointer;
}

.post-markups, .post-share {
    color: #26B799;
    font-size: 20px;
}

.clear {
    clear: both;
}

.aside, .copyright {
    display: inline-block;
    width: 32%;
    margin-left: 1%;

}

.aside {
    position: fixed;
    margin-top: 3px;
}

.online-friends-wrap {
    padding: 10px;
}

.online-friends-wrap ul li {
    list-style: none;
    margin-bottom: 5px;
}

.online-friends-wrap ul li:last-child {
    border-bottom: none;
}

.online-friends-item {
    padding: 15px 0;
    border-bottom: 1px solid black;
}

.online-friends-item:last-child {
    border-bottom: none;
}

.online-friends-img {
    width: 50px;
    height: 50px;
    overflow: hidden;
}

.online-friends-img img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.online-friends-name {
    width: 80%;
    padding-left: 15px;
    line-height: 35px;
    font-size: 18px;
}

.online-friends-active {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #ACF084;
    margin-top: 10px;
}

.copyright {
    position: fixed;
    color: #313538;
    font-size: 18px;
    bottom: 10px;
}

/*********Edit Profile styles*********/

.white {
    background-color: #FFFFFF;
    box-shadow: 0 2px 7px #A7A7A7;
    margin-bottom: 30px;
    padding: 20px;
}

.edit-profile-wrap, .book-search-result {
    width: 60%;
    margin: 3px 1.5% 0 2.5%;
}

.discov {
    margin: 3px 1.5% 0 !important;
}

.author-image-block {
    width: auto;
    max-width: 175px;
    height: 162px;
    border: 1px solid black;
}

.author-image-block img {
    height: 100%;
}

.author-info-block {
    width: 70%;
    margin: 15px 0;
}

.author-ful-name {
    margin: 0 5px 0 10px;
    font-weight: 600;
    font-size: 24px;
    display: inline-block;
}

.author-display-name {
    margin: 5px 0 0 0;
    font-size: 25px;
    display: inline-block;
}

.author-email {
    margin: 10px 0 30px 10px;
    font-size: 21px;
}

.author-status {
    font-size: 22px;
    margin: 17px 0 0 20px;
    color: #21B99B;
    font-style: italic;
    font-weight: 600;
}

.social-access, .profile-info, .access-data, .yotta-settings {
    position: relative;
}

.social-access-title, .profile-info-title, .access-data-title, .yotta-settings-title, .become-publisher-title, .my-badges-title {
    font-size: 27px;
    color: #2F3239;
}

.social-access-text, .profile-info-text, .access-data-text, .yotta-settings-text {
    font-size: 19px;
    color: #21B99B;
    display: inline-block;
}

.social-icon {
    width: 45px;
    height: 45px;
    float: right;
    margin-left: 15px;
    color: white;
    text-align: center;
    text-decoration: none
}

.social-access-icones {
    position: absolute;
    top: 25px;
    right: 30px;
}

.icon-gp:after {
    content: "\f0d5";
    font: normal 22px/45px 'FontAwesome';
}

.icon-tw:after {
    content: "\f099";
    font: normal 22px/45px 'FontAwesome';
}

.icon-fb:after {
    content: "\f09a";
    font: normal 22px/45px 'FontAwesome';
}

.edit-icon, .show-icon {
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 28px;
    color: #999CA3;
    cursor: pointer;
}

.show-icon {
    top: 25px;
}

.showed-data {
    margin-top: 30px;
    display: none;
}

.showed-data input[type='text'], input[type='password'] {
    outline: none !important;
    width: 100%;
    height: 30px;
    font-size: 18px;
    color: #2E3231;
    padding: 0 5px;
    border: none;
    margin-bottom: 30px;
}

hr {
    margin: 7px 0 7px 0;
    color: #333333;
    border-top: 1px solid #333333;
}

.showed-data label {
    font-size: 19px;
    color: #748790;
    text-transform: uppercase;
}

.showed-data-bottom-block {
    display: none;
}

.showed-data-right, .showed-data-left {
    width: 47%;
}

.showed-data span {
    color: #868686;
    font-size: 19px;
}

.save-btn {
    width: 140px;
    height: 40px;
    background-color: #54595C;
    border: none;
    color: #ffffff !important;
    font-size: 18px;
    text-transform: uppercase;
    cursor: pointer;
    display: block;
}

.save-btn:hover {
    background-color: #19BD9B;

}

#change-password {
    font-size: 13px;
    margin-bottom: 10px;
}

.saerch-default-settings {
    margin-top: 30px;
}

.language-settings, .saerch-default-settings {
    color: #2A2E31;
    font-size: 19px;
    text-transform: uppercase;
}

.searchsettings-item {
    margin: 10px 0 25px 0;
}

select {
    width: 120px;
    height: 30px;
    border: none;
    font-size: 15px;
}

.showed-data .reset {
    color: #2BB28C;
    text-decoration: underline;
    font-style: italic;
    margin-right: 30px;
    font-size: 17px;
    line-height: 53px;
}

.become-publisher, .my-badges {
    position: relative;
}

.become-publisher > .edit-icon, .my-badges > .edit-icon {
    top: 20px;
}

.become-publisher-title, .my-badges-title {
    text-transform: capitalize;
}

/**************FRIENDS PAGES STYLES***************/

.friends-wrap {
    width: 59%;
    margin: 3px 1.2% 15px 2%;
}

.all-friends, .people-may-know {
    width: 30%;
    cursor: pointer;
    color: #8C8E8F;
    font-size: 17px;
}

.friends-menu-block > .active {
    color: #282F35 !important;
    font-weight: 600;
}

.friends-menu-block {
    position: relative;
    margin: 0 10px;
}

.find-friends {
    padding: 5px 10px;
    background-color: #19BD9B;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
}

.all-friends-block {
    width: 100%;
}

.all-friend-item-text-block {
    width: calc(100% - 105px);
    float: left;
    margin: 20px 0 0 0 !important;
    padding-left: 20px;
    box-sizing: border-box;
}

.all-friend-item-text-email {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.all-friend-item {
    width: 47%;
    height: 130px;
    position: relative;
    border: 1px solid #AEAEAE;
    margin-left: 2%;
    margin-top: 30px;
    color: #2D3236;
    padding: 0 15px;
    box-sizing: border-box;
}

.all-friend-item a[href^='/user/'] {
    display: block;
    width: 80px;
    height: 80px;
    margin-top: 24px;
    margin-left: 20px;
    float: left;
}

.all-friend-item-img {
    width: inherit;
    height: inherit;
    background-color: #ffffff;
}

.all-friend-item-img > img {
    width: 100%;
    height: 100%;
}

.all-friend-item-text-block, .people-may-know-text-block, .find-friends-text-block {
    margin: 20px 0 0 110px;
    line-height: 18px;
}

.all-friend-item-text-fname {
    font-weight: 600;
}

.all-friend-item-text-author-status {
    color: #60D3BE;
    font-style: italic;
    margin-top: 7px;
}

.unfriend {
    position: absolute;
    right: 15px;
    bottom: 6px;
    background-color: #8D9194;
    color: #ffffff;
    padding: 7px 15px;
    cursor: pointer;
    font-size: 15px;
}

.unfriend:hover, .add-to-friend:hover {
    background-color: #F23E61;
}

.add-to-friend, .add-to-friend-request {
    position: absolute;
    right: -75px;
    bottom: 15px;
    background-color: #8D9194;
    color: #ffffff;
    padding: 7px 15px;
    cursor: pointer;
    font-size: 15px;
}

.add-to-friend-request {
    background-color: #F23E61;
}

.people-may-know-item, .people-may-know-search-item {
    width: 65%;
    height: 90px;
    position: relative;
    border: 1px solid #AEAEAE;
    margin-left: 9%;
    margin-top: 30px;
    color: #2D3236;
}

.people-may-know-search-item {
    width: 80%;
}

.people-may-know-item-img, .find-friends-item-img {
    width: 70px;
    height: 70px;
    position: absolute;
    top: 10px;
    left: -35px;
    background-color: #ffffff;
}

.people-may-know-item-img img, .find-friends-item-img img {
    width: 100%;
}

.find-friends-item {
    width: 80%;
    height: 90px;
    position: relative;
    border: 1px solid #AEAEAE;
    margin-left: 9%;
    margin-top: 30px;
    color: #2D3236;
}

.errors {
    color: red;
    display: inline-block;
}

.saved {
    color: green;
}

.formEmpty::-webkit-input-placeholder {
    color: red;
}

.formInvalid {
    color: red !important;
}

.find-friends-block {
    position: absolute;
    top: -6px;
    right: 0;
    background-color: #fff;
    padding: 5px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.41);
    width: 0;
    color: #A0A4A7;
    display: none;
}

.find-friend {
    width: 90%;
    height: 30px;
    border: none;
    font-size: 18px;
    outline: none !important;
    color: #8C8E8F;
}

/*********Book search styles********/
.book-item-lenguage {
    color: #33CC99;
}

.result-item-content {
    width: 50%;
    margin-left: 2% !important;
    padding-right: 2%;
}

.result-item-vertical-line {
    height: 190px;
    border-right: 1px solid #c1c1c1;
}

.add-lent-book-block {
    width: 20%;
}

.add-lent-book-block > .add-book, .add-lent-book-block > .lent-book {
    text-align: center;
    padding: 10px 15px;
    margin: 20px 0 10px 15px;
    cursor: pointer;
}

.add-lent-book-block > .add-book {
    border: 1.5px solid #B4B4B4;
    color: #B4B4B4;
}

.add-lent-book-block > .add-book:hover {
    background-color: #B4B4B4;
    color: #ffffff;
}

.add-lent-book-block > .lent-book {
    border: 1.5px solid #33CC99;
    color: #33CC99;
}

.add-lent-book-block > .lent-book:hover {
    background-color: #33CC99;
    color: #ffffff;
}

/**********Tooltip style**********/

.add-lent-book-block {
    position: relative;
}

.add-book > .tooltip {
    position: absolute;
    width: 143px;
    color: #FFFFFF;
    background: transparent;
    line-height: 100px;
    text-align: center;
    visibility: hidden;
    border-radius: 2px;
    padding: 13px 0 5px 0;
}

.add-book > .tooltip::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -8px;
    width: 0;
    height: 0;
    border-bottom: 8px solid #2CC98B;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
}

.add-book > .tooltip::after {
    background-color: #2CC98B;
    content: '';
    display: block;
    position: absolute;
    top: 8px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}
.add-book {
    position: relative;
}
.add-book:hover .tooltip {
    visibility: visible;
    opacity: 0.9;
    top: 45px;
    left: -4px;
    z-index: 999;
}

.tooltip > div {
    display: block;
    text-decoration: none;
    color: #ffffff;
    line-height: 25px;
    cursor: pointer;
}

.tooltip > div:hover {
    color: #114138;
}

.add-book-coins-block {
    position: fixed;
    bottom: 50px;
    left: 50px;
    background-color: #FFFFFF;
    width: 200px;
    padding-bottom: 15px;
    box-shadow: 3px 3px 10px #A1A1A3;
    text-align: center;
    display: none;
    z-index: 2000;
}

.add-book-coins-block-right {
    position: fixed;
    right: 50px;
    bottom: 100px;
    background-color: #FFFFFF;
    width: 200px;
    padding-bottom: 15px;
    box-shadow: 3px 3px 10px #A1A1A3;
    text-align: center;
    display: none;
}

.add-book-coins-img-block {
    width: 60%;
    margin: 0 auto;
}

.add-book-coins-img-block > img {
    width: 100%;
}

.add-book-coins-text-block > div {
    color: #1abc9c;
    margin-bottom: 15px;
    margin-top: 5px;
    font-size: 15px;
}

.add-book-coins-text-block > .great {
    color: #000000;
    font-size: 18px;
}

.add-book-coins-text-block > div > h3 {
    color: #99999B !important;
    font-size: 22px;
    text-transform: uppercase;
}

.add-book-coins-text-block > div {
    color: #1abc9c;
    font-size: 18px;
    font-weight: 600;
}

/**********HOME PAGE DESIGNE***********/

.timeline-section {
    width: 57%;
    margin-left: 5%;
}

.slidebar {
    width: 100%;
    height: 200px;
    background-color: white;
    border: 1px solid #E9E9E9;
    box-shadow: 0 3px 7px #DADADA;
    margin-bottom: 20px;
    font-family: "AvenirNext-Regular";
}

.questions-block .questionItem {
    height: 65px;
    width: 91%;
    margin: 0 auto;
    border-bottom: 1px solid #394046;
    color: #394046;
}

.question {
    height: 30px;
    line-height: 30px;
}

.answers {
    height: 30px;
    line-height: 30px;
    background: black;
}

.answers > input {
    border: none !important;
    box-shadow: none !important;
}

.questions-block .questionItem:last-child {
    border: none;
}

.ads {
    height: 80px;
    color: #ffffff;
    text-align: center;
    line-height: 80px;
    background: #959595 !important;
}

.adsBig {
    font-family: "AvenirNext-Regular";
    height: 100%;
    background: #959595;
    color: #ffffff;
    text-align: center;
    line-height: 100px;
    border: 1px solid #E9E9E9;
    box-shadow: 0 3px 7px #DADADA;
    margin-bottom: 20px;
}

.agenda {
    height: 80px;
    text-align: center;
    line-height: 80px;
    color: #394046;
}

.newRelease {
    padding-top: 5px;
}

.newRelease p:first-of-type {
    font-weight: bold;
}

.topRatedBooks, .lastRatedBooks {
    font-family: "AvenirNext-Regular";
    position: relative;
    height: 155px;
    background-color: white;
    box-shadow: 0 4px 7px #DADADA;
    margin-bottom: 20px;
    overflow: hidden;
}

.topMusic {
    font-family: "AvenirNext-Regular";
    position: relative;
    height: 130px;
    background-color: white;
    box-shadow: 0 4px 7px #DADADA;
    margin-bottom: 20px;
    overflow: hidden;
}

.topBlock {
    width: 98.5% !important;
    background-color: #19BD9B;
    height: 40px;
    color: white;
    text-transform: uppercase;
    line-height: 40px;
    padding-left: 1.5% !important;
}

.musicListRow {
    padding: 10px 0 10px 0;
    height: 116px;
    white-space: nowrap;
    overflow-x: hidden;
}

.ratedBooks {
    position: relative;
    width: 200px;
    display: inline-block;
    height: 110px;
    overflow: hidden;

}

.ratedBooks:first-of-type {
    margin-left: 5px;
}

.ratedBooks p {
    font-size: 13px;
    height: 19px;
    overflow: hidden;
}

.ratedBooks p:first-of-type {
    font-weight: bold;
}

.ratedBooks .ratedBookImage {
    width: 35%;
    height: 98px;
    padding: 2px 5px;
    border: 1px solid #f0f0f0;
    display: inline-block;
    float: left;
    margin-right: 2%;
}

.ratedBooks > div img {
    width: 100%;
    height: 100%;
}

.ratedBooks ul > li {
    list-style: none;
    display: inline;
    margin: 2px;
    cursor: pointer;
}

.ratedBooks .text {
    color: #616161;
    font-size: 13px;
    display: block;
}

.questions-block {
    background-color: #FFFFFF;
    box-shadow: 0 3px 7px #DADADA;
    margin-bottom: 20px;
}

.question-top-block {
    background-color: #19BD9B;
    height: 40px;
    color: white;
    text-transform: uppercase;
    line-height: 40px;
    padding-left: 20px;
}

.newReleaseItem {
    width: 100%;
    float: left;
}

.newReleaseImageBlock {
    width: 30%;
    height: 100px;
    border: 1px solid #ECECEC;
    margin: 8px;
    float: left;
}

.newReleaseImgBlock {
    width: 80%;
    height: 91px;
    margin: 4% auto;
}

.newReleaseImgBlock > img {
    width: 100%;
    height: 100%;
}

.musicItems {
    display: inline-block;
    width: 158px;
    height: 70px;
    overflow: hidden;
}

.musicItems:last-of-type {
    border: none;
}

.musicItems:first-of-type {
    margin-left: 5px;
}

.musicBackground {
    width: 70px;
    float: left;
    height: 70px;
    margin-right: 5%;
    background: url(../img/icons/music-cover.png) no-repeat;
}

.musicItems p {
    line-height: 30px;
    height: 30px;
    overflow: hidden;
    color: #616161;
    display: block;
}

.musicItems p:first-of-type {
    font-weight: bold;
    color: #000000 !important;
}

.musicItems audio {
    width: 70px;
    height: 70px;
    background: url(../img/icons/music-cover.png) no-repeat;

}

.music {
    width: 38px;
    height: 38px;
    margin: 15px auto;
    border: 0;
    border-radius: 50%;
    background: url(../img/icons/play.png) no-repeat
}

.music:hover {
    border: 1px solid #19BD9B;
    cursor: pointer;
}

.music audio {

    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear;
    -moz-box-shadow: 2px 2px 4px 0 #006773;
    -webkit-box-shadow: 2px 2px 4px 0 #006773;
    box-shadow: 2px 2px 4px 0 #006773;
    -moz-border-radius: 7px 7px 7px 7px;
    -webkit-border-radius: 7px 7px 7px 7px;
    border-radius: 7px 7px 7px 7px;
}

.online-friends {
    background-color: #19BD9B;
    height: 40px;
    color: white;
    text-transform: uppercase;
    line-height: 40px;
    padding-left: 20px;
}

.newReleaseButtons {
    float: left;
    width: 62%;
    margin-top: 11px;
}

.newReleaseButtons .leranMore {
    float: left;
    background: #ccc;
    color: #fff;
    width: 44%;
    display: block;
    height: 35px;
    text-align: center;
    line-height: 35px;
    margin-right: 10%;
    overflow: hidden;
    cursor: pointer;
}

.newReleaseButtons a:last-of-type {
    margin-right: 0;
}

.newReleaseButtons .leranMore:hover {
    background: #FFFFFF;
    border: 1px solid #19BD9B;
    color: #19BD9B;
}

.newReleaseButtons .buyBook:hover {
    background: #FFFFFF;
    border: 1px solid #19BD9B;
    color: #19BD9B;
}

.homeAside {
    float: left;
    width: 29%;
    margin-left: 2%;
    margin-top: -10px;
    font-family: "AvenirNext-Regular";
}

/************FOOTER************/

.footer {
    font-family: "Avenir-Medium";
    width: 100%;
    min-width: 1220px;
    float: left;
    background: #d7d7d7;
    padding-top: 10px;
}

.contactUs {
    width: 29%;
    float: left;
    margin-left: 5%;
}

.contactUs span {
    display: block;
    margin-left: 40px;
    color: #000000;
    font-size: 20px;
    padding-top: 10px;
}

.contactUs a {
    line-height: 24px;
    color: #393939;
}

.contactUs ul {
    padding: 0;
}

.contactUs ul li {
    list-style: none;
    width: 200px;
    margin-left: 40px;

}

.secondBlock {
    width: 35%;
    float: left;
}

.secondBlock #firstDiv, #follow {
    display: block;
    color: #000000;
    font-size: 20px;
    padding-top: 10px;
}

.googleImg {
    display: inline-block;
    overflow: hidden;
    width: 121px;
    height: 44px;
    margin-top: 15px;
    margin-right: 15px;
}

.googleImg a img {
    width: 100%;
    height: 100%;
}

.footer .newsletter {
    width: 17%;
    float: left;
    margin-top: 10px;
    padding: 20px;
    border: 3px solid #b7b7b7;
    position: relative;
}

.footer .newsletter .newsletter-title {
    display: block;
    color: #000000;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.footer .newsletter #textInput {
    width: 96%;
    height: 40px;
    outline: none;
    border: none;
    padding-left: 4%;
    margin-top: 10px;
}

#discover_subscribe {
    width: 100%;
}

.footerLine {
    width: 100%;
    height: 40px;
    background: #b7b7b7;
    float: left;
    color: #000000;
    text-align: center;
    line-height: 40px;
    margin-top: 15px;
}

.button-submit {
    border: none;
    background-color: #b3b3b3;
    margin-top: 15px;
    width: 48%;
    height: 43px;
    color: white;
    text-transform: uppercase;
    font: normal 18px/21px 'AvenirBook';
}

.button-submit:hover {
    background-color: #19BD9B;
    cursor: pointer;
}

.nextButtonLast, .previewButtonLast, .nextButtonTop, .previewButtonTop {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: absolute;
    top: 83px;
    display: inline-block;
    width: 35px;
    line-height: 35px;
    text-align: center;
    color: #FFFFFF;
    z-index: 560;
}

.nextButtonMusic, .previewButtonMusic {
    position: absolute;
    top: 66px;
    display: inline-block;
    width: 35px;
    line-height: 35px;
    text-align: center;
    color: #FFFFFF;
}

.nextButtonLast, .nextButtonTop, .nextButtonMusic {
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.previewButtonLast, .previewButtonTop, .previewButtonMusic {
    left: 0;
    cursor: context-menu;
    background-color: rgba(0, 0, 0, 0.1);
}

.ratedBooksRow ul {
    margin-top: 20px;
}

.footerSocial-icon {
    width: 45px;
    height: 45px;
    display: inline;
    margin-right: 25px;
    color: #6e6e6e;
    text-align: center;
    text-decoration: none;
}

.ficon-fb:after {
    content: "\f09a";
    font: normal 25px/45px 'FontAwesome';
}

.ficon-tw:after {
    content: "\f099";
    font: normal 25px/45px 'FontAwesome';
}

.ficon-gp:after {
    content: "\f0d5";
    font: normal 25px/45px 'FontAwesome';
}

.nextButtonLast, .previewButtonLast, .nextButtonTop, .previewButtonTop {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: absolute;
    top: 83px;
    display: inline-block;
    width: 35px;
    line-height: 35px;
    text-align: center;
    color: #FFFFFF;
}

.nextButtonMusic, .previewButtonMusic {
    position: absolute;
    top: 66px;
    display: inline-block;
    width: 35px;
    line-height: 35px;
    text-align: center;
    color: #FFFFFF;
}

.nextButtonQuestions {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: absolute;
    top: 83px;
    display: inline-block;
    width: 35px;
    line-height: 35px;
    text-align: center;
    color: #FFFFFF;
}

.nextButtonLast, .nextButtonTop, .nextButtonMusic, .nextButtonQuestions {
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.previewButtonLast, .previewButtonTop, .previewButtonMusic {
    left: 0;
    cursor: context-menu;
    background-color: rgba(0, 0, 0, 0.1);
}

.footerSocial-icon {
    width: 45px;
    height: 45px;
    display: inline;
    margin-right: 25px;
    color: #6e6e6e;
    text-align: center;
    text-decoration: none;
}

.ficon-fb:after {
    content: "\f09a";
    font: normal 25px/45px 'FontAwesome';
}

.ficon-tw:after {
    content: "\f099";
    font: normal 25px/45px 'FontAwesome';
}

.ficon-gp:after {
    content: "\f0d5";
    font: normal 25px/45px 'FontAwesome';
}

.bookStars {
    display: inline-block;
    height: 20px;
    line-height: 17px;
    width: 113px;
}

[id^='rating-'], [id^='lastRating-'] {
    float: left;
    position: relative;
    z-index: 555;
    width: 90px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

[id^='rating-']:not(:checked) > input, [id^='lastRating-']:not(:checked) > input {
    position: absolute;
    top: -9999px;
    clip: rect(0, 0, 0, 0);
    color: #FD4;
    transition: all .25s;

}

[id^='rating-'] > input:checked ~ label {
    color: #FFD700;
}

[id^='rating-']:not(:checked) > label, [id^='lastRating-']:not(:checked) > label {
    float: right;
    width: 18px;
    padding: 0;

    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 18px;
    line-height: 11px;
    color: #ddd;
}

[id^='rating-']:not(:checked) > label:before, [id^='lastRating-']:not(:checked) > label:before {
    content: url("../img/icons/_stars.png");
    color: #FD4;
    transition: all .25s;

}

input:checked ~ label.star:before {
    content: '\f005';
    color: #FD4;
    transition: all .25s;
}

[id^='rating-'] > input:hover ~ label, [id^='lastRating-'] > input:hover ~ label {
    background-color: #EF9105;

}

[id^='rating-'] input:checked ~ label {
    /*background-color: #EF9105;*/
}

[id^='rating-'] > input:checked + label:hover,
[id^='rating-'] > input:checked + label:hover ~ label,
[id^='rating-'] > input:checked ~ label:hover,
[id^='rating-'] > input:checked ~ label:hover ~ label,
[id^='rating-'] > label:hover ~ input:checked ~ label {
    color: #ea0;
    text-shadow: 1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0, 0, 0, .5);
}

.starsBackground {
    width: 90px;
    height: 20px;
    display: inline-block;
}

.rateCount {
    background-color: #FFCF00;
    height: 16px;
    margin-top: 25px;
}

.booksRateCount {
    background-color: #FFCF00;
    height: 16px;
}

.bookStarsBackground {
    width: 90px;
    display: inline-block;
    background-color: lightgrey;
}

.bookRate {
    display: inline-block;
    line-height: 20px;
    margin-right: 10px;
}

.ratedBooksAnimate, .newReleaseAnimate, .tooltipAnimate, .tooltiLendAnimate {
    content: "";
    position: absolute;
    z-index: 1000;
    font-size: 13px;
    line-height: 13px;
    background-color: #555;
    color: #fff;
    border-radius: 6px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 15px 10px 15px 10px;
    text-align: center;
    font-family: cursive !important;
}

.ratedBooksAnimate {
    top: 45px;
    width: 153px;
    left: 0;
}

.ratedBooksAnimate.discover {
    top: 18px !important;
    left: 48px;
    width: 138px !important;
}

.newReleaseAnimate.newReleasePopup {
    top: 55px !important;
    left: 125px !important;
}

.tooltipAnimate.addBook {
    top: -85px !important;
    left: -66px !important;
    line-height: 14px !important;
}

.tooltiLendAnimate .lendBook {
    left: -51px;
}

.new-release-book {
    position: relative;
}

.newReleaseAnimate {
    top: 67px;
    width: 207px;
}

.tooltipAnimate {
    top: -56px;
    left: -44px;
    width: 207px;
    color: #FFFFFF;
}

.tooltiLendAnimate {
    top: 30px;
    left: -44px;
    width: 207px;
    color: #FFFFFF;
    padding: 15px 10px 15px 10px !important;
}

.newReleaseAnimate {
    top: 67px;
    width: 207px;
}

/*********QUSETION BLOCK*************/

.questionSlide {
    position: relative;
    width: 388px;
    background: #FFFFFF;
    height: 325px;
    overflow-x: hidden;
    white-space: nowrap;
}

.questionSlide .questionSlideItems {
    width: 418px;
    padding: 15px;
    display: inline-block;
    height: 268px;
    overflow: hidden;
    text-align: center;
}

.questionItem > input {
    display: block;
    border: 0;
    outline: 0;
}

.nextButtonQuestions.icon.show-icon {
    position: absolute;
    top: 260px;
    right: 18px;
}

.questions-block {
    background-color: #FFFFFF;
    box-shadow: 0 3px 7px #DADADA;
    margin-bottom: 20px;
    position: relative;
}

/********Twitter dialog styles********/

.tw-share-dialog, .social-friend-dialog {
    position: absolute;
    top: 30%;
    left: 30%;
    width: 30%;
    height: 180px;
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
    border: 2px solid #ced0d4;
    border-radius: 4px;
}

.social-friend-dialog-background {
    background-color: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.social-friend-dialog > .icon {
    top: 10px;
    right: 10px;
    color: #fff;
    font-size: 20px;
}

.tw-share-dialog-header {
    padding: 0 15px;
    background-color: #339DC3;
    font-weight: 600;
    color: #FFFFFF;
}

.tw-share-dialog-header > .icon-tw {
    display: inline-block;
    margin-right: 14px;
}

.tw-share-dialog-buttons {
    padding: 10px;
    position: absolute;
    bottom: 0;
    right: 0;
}

.tw-share-dialog-buttons > div {
    display: inline-block;
    border: 1px solid #CED0D4;
    padding: 3px 10px;
    border-radius: 3px;
    margin-right: 15px;
    text-decoration: none;
    cursor: pointer;
}

.tw-share-dialog-text {
    margin-top: 8%;
    margin-left: 20px;
    font-size: 18px;
}

.tw-share-dialog-share {
    background-color: #339DC3;
    color: #FFFFFF;
}

.tw-share-dialog-close {
    color: #575756;
}

/*****social friends dialog****/

.social-friend-dialog > p {
    background-color: #00bd9c;
    padding: 10px;
    text-align: center;
    color: #fff;
    font-size: 18px;
}

.social-friend-dialog-item {
    position: relative;
    margin: 10px;
}

.social-friend-dialog-item > .image-block {
    width: 11%;
    float: left;
    height: 50px;
}

.social-friend-dialog-item > .image-block > img {
    width: 100%;
    height: 100%;
}

.social-friend-dialog-item > .text-block {
    width: 80%;
    height: 50px;
    float: left;
    padding-left: 10px;
    line-height: 50px;
    font-size: 18px;
}

.social-friend-dialog-item > .add-to-friend {
    right: 0;
    bottom: 10px;
}

.social-friend-dialog-item > .add-to-friend-request {
    right: 0;
    bottom: 10px;
}

/*****Discover newsletter styles****/

.notify-tooltip-error {
    position: absolute;
    left: -275px !important;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 16px !important;
    color: white !important;
    font: normal 14px/18px 'AvenirLight';
    width: 200px !important;
    margin-top: 15px !important;
}

.rect {
    position: absolute;
    width: 0;
    height: 0;
    border-top: 25px solid transparent;
    border-left: 24px solid rgba(0, 0, 0, 0.5);
    border-bottom: 25px solid transparent;
    right: -24px;
    top: 0;
}

.newsletter > p {
    text-align: center;
    color: rgb(103, 103, 103);
    font-size: 20px;
}

/**
********************************************************************************************
***********************************************************************************************
**/
body::-webkit-scrollbar {
    width: 0;
    background-color: #FFFFFF;
}

.mainContainer {
    width: 100%;
    background-color: #f4f4f4;
    box-shadow: -1px -2px 3px 0 #959595;
    overflow-y: scroll;
    height: calc(100vh);
}

.navManu::-webkit-scrollbar {
    width: 0;
}

.navManu {
    width: 0;
    height: 100%;
    overflow-y: scroll;
    white-space: nowrap;
    overflow-x: hidden;
    position: fixed;
    background: #ffffff;
}

.mainHeader {
    position: fixed;
    width: 100%;
    height: 54px;
    background-color: #00bd9c;
    z-index: 999;

}

.notificationBarMain {
    float: left;
    min-width: 400px;
    width: 30%;
    height: 54px;
}

@media (min-width: 1367px) {
    .search-area {
        width: 47%;
    }
}

@media (max-width: 1366px) {
    .search-area {
        width: 49%;
    }
}

@media (max-width: 1200px) {
    .search-area {
        width: 39%;
    }
}

@media (max-width: 992px) {
    .search-area {
        width: 25%;
    }

    .header-logo h1 {
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    .search-area {
        width: 26%;
    }

    section {
        margin: 3px 3.5% 10px 2.5%;
        width: 58.4%;
    }

    .header-logo > h1 {
        font-size: 14px;
    }
}

@media (max-width: 755px) {
    .childContent {
        min-width: 755px;
    }

    .mainHeader {
        min-width: 755px;
    }
}

.sendQuestionButton {
    display: inline-block;
    width: 50px;
    padding: 5px;
    line-height: 22px;
    height: 22px;
    text-align: center;
    position: absolute;
    bottom: 5px;
    right: 15px;
    box-shadow: inset 0 0 4px 2px #ffffff;
    background-color: #00bd9c;
    color: #ffffff;
    cursor: pointer;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.sendQuestionButton:hover {
    box-shadow: 1px 1px 4px 1px #8c8383;
}

/*******pagination******/
.pagination {
    font-family: 'Open Sans', sans-serif;
    display: inline-block;
    padding-left: 0;
    margin-left: 2%;
    border-radius: 4px;
}

.pagination > li {
    display: inline;
}

.pagination-sm > li:first-child > a, .pagination-sm > li:first-child > span {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.pagination > li:first-child > a, .pagination > li:first-child > span {
    margin-left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.pagination-sm > li > a, .pagination-sm > li > span {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
}

.pagination > li > a, .pagination > li > span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}

.pagination > li > a:focus, .pagination > li > a:hover, .pagination > li > span:focus, .pagination > li > span:hover {
    z-index: 2;
    color: #23527c;
    background-color: #eee;
    border-color: #ddd;
}

.pagination > .disabled > a, .pagination > .disabled > a:focus, .pagination > .disabled > a:hover, .pagination > .disabled > span, .pagination > .disabled > span:focus, .pagination > .disabled > span:hover {
    color: #777;
    cursor: not-allowed;
    background-color: #fff;
    border-color: #ddd;
}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    z-index: 3;
    color: #fff;
    cursor: default;
    background-color: #337ab7;
    border-color: #337ab7;
}

a.page-link {
    color: black;
}

.book-info-section p.book-item-auther {
    display: inline-block;
    color: #19BD9B;
}

.book-info-section p.book-item-auther a {
    color: #19BD9B;
}

.book-item-title {
    cursor: pointer;
}

.book-item-title a {
    text-decoration: none;
    color: #0E0E0E;
}

@media screen and (min-width: 993px) and (max-width: 1200px) {
    .add-lent-book-block > .add-book, .add-lent-book-block > .lent-book {
        margin: 15px 0 6px -5px;
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .add-lent-book-block > .add-book, .add-lent-book-block > .lent-book {
        margin: 15px -11px -3px -16px;
    }

    .result-item-content {
        width: 46%;
    }
}

@media (max-width: 768px) {
    .add-lent-book-block > .add-book, .add-lent-book-block > .lent-book {
        margin: 15px -11px -3px -16px;
    }

    .result-item-content {
        width: 46%;
    }

    .header-logo {
        display: none;
    }
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

.breadcrump {
    display: block;
    width: 95%;
    height: 25px;
    margin: 0 auto;
    left: 2%;
    padding-top: 58px;
}

ol#wo-breadcrumbs {
    list-style: none;
}

#wo-breadcrumbs > li {
    float: left;
    padding-right: 2px;
}

#wo-breadcrumbs > li > a {
    text-decoration: none;
    color: #00bd9c;
}

.pop_up_show {
    width: 186px;
    height: 56px;
    border: 1px solid;
    position: absolute;
    top: -1px;
    right: 10px;
    left: 0;
    bottom: 0;
    margin: 0 auto;
    background: white;
    display: none;
    padding-right: 15px;
    padding-top: 8px;
}

.footer-icon:hover .pop_up_show {
    display: block;
}

.notificationCount {
    background-color: red;
    position: absolute;
    top: -10px;
    left: 35px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    font-size: 15px;
    text-align: center;
}

.notificationCount:hover {
    background-color: red !important;
}

.friendRequestRow {
    width: 100%;
    position: relative;
    margin: 10px 0;
}

.friendRequestRow .us-avatar {
    display: inline-block;
    width: 90px;
    height: 90px;
}

.friendRequestRow span {
    position: absolute;
    left: 42%;
    bottom: 4px;
    color: #19BD9B;
}

.friendInfo {
    position: absolute;
    top: 4px;
    left: 100px;
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    word-wrap: break-word;
}

.friendFriendInfo {
    position: absolute;
    top: 4px;
    right: 100px;
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    word-wrap: break-word;
}

/*Modal*/

#myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

#myImg:hover {
    opacity: 0.7;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 100000; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.5); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
    margin: auto;
    display: block;
    height: 80%;
    max-width: 700px;
}

/* Caption of Modal Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.modal-content, #caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0)
    }
    to {
        -webkit-transform: scale(1)
    }
}

@keyframes zoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}

/* The Close Button */

.close {
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

.backgroun-trans {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
}

.audio-play {
    margin: 43px -15px 40px -10px;
    position: relative;
}

.comment-section {
    background: #f8f8f8;
    padding: 15px;
}

.audio-play .audio-img {
    width: 130px;
}

.audio-play .book-img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding-left: 15px;
}

#trasfor-oudio-img {
    transform: translateY(-75%);
}

.audio-play .audio-img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding-left: 15px;
}

.audio-play .book-img img {
    object-fit: cover;
}

.audio-play .book-img {
    width: 250px;
}

.audio-play .audio-desc.pl-160 {
    padding-left: 160px;
}

.audio-play .audio-desc.pl-280 {
    padding-left: 280px;
}

.audio-play .audio-img img {
    width: 100%;
}

.audio-play .audio-desc {
    flex-grow: 1;
    -webkit-flex-grow: 1;
    background: #f8f8f8;
    padding: 15px;
    box-sizing: border-box;
    align-self: center;
    -webkit-align-self: center;
}

.audio-play .social-icon-timeline {
    display: block;
    text-align: center;
    color: #A0A0A0;
    font-size: 15px;
    width: 115px;
    margin-left: 15px;
    text-decoration: none;
}

.audio-desc .post-time span, .audio-play .social-icon-timeline {
    font-family: "AvenirNext-Regular";
    font-style: normal;
    min-width: 110px;
}

.audio-play .social-icon-timeline img {
    display: block;
    margin: 0 auto;
}

.post-time .book-item-location, .witi-desc .book-item-location {
    margin: 0;
    font-size: 15px;
}

.post-time .book-item-location a {
    color: #0c12f3;
}

.witi-desc {
    flex-grow: 1;
    -webkit-flex-grow: 1;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
    .modal-content {
        width: 100%;
    }
}

.noBookImage {
    width: 27%;
    margin: 0 auto;
    height: 215px;
    background: url("../img/icons/noBooksYet.png") no-repeat;
}

.noBookImageNotification {
    width: 100%;
    margin: 0 auto;
    height: 215px;
    background: url("../img/icons/notification_bell.png") no-repeat;
    background-position: center;

}

.noBookYet > h1 {
    color: #00bd9c;
    width: 100%;
    text-align: center;
}

.noBookYet > p {
    font-weight: bold;
    color: #959595;
    width: 100%;
    text-align: center;
}

.google {
    background-color: #ed1c24;
}

.twitter {
    background-color: #099fdf;
}

.facebook {
    background-color: #3b5998;
}
