.recomended-books-block {
    position: relative;
    height: 144px;
    overflow: hidden;
}

.recomended-books, .online-friends {
    background-color: #19BD9B;
    height: 40px;
    color: white;
    text-transform: uppercase;
    line-height: 40px;
    padding-left: 20px;
}

.recomended-books-block, .online-friends-block {
    background-color: #FFFFFF;
    box-shadow: 0 3px 7px #DADADA;
    margin-bottom: 20px;
}

.recomended-books-item {
    width: 200px;
}

.recomended-books-item-image-block {
    width: 38%;
    height: 85px;
    border: 1px solid #ECECEC;
    margin: 8px;
    float: left;
}

.recomended-books-image-wrap {
    width: 70%;
    height: 92%;
    margin: 4% auto;
    overflow: hidden;
}

.recomended-books-image-wrap a img {
    display: block;
    height: 100%;
    margin: 0 auto;
}

.recomended-books-image-wrap > img {
    width: 100%;
    height: 100%;
}

.recomended-books-item-border {
    border-left: 2px solid black;
    height: 100px;
    float: left;
}

.recomended-books-item-text-block {
    float: left;
    width: 48%;
    color: #2B2B2B;
    font-size: 13px;
    height: 85px;
    margin-top: 11px;
   display:  -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display:flex;
    -webkit-flex-direction:column;
    -moz-flex-direction:column;
    -ms-flex-direction:column;
    flex-direction:column;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

.recomended-books-item-text {
    margin: 0;
    width: 94%;
    font-size: 12px;
}

.recomended-books-item-text-block > .add-book, .user-settings > .save-btn {
    background: #293136;
    color: #fff;
    width: 95%;
    display: block;
    height: 30px;
    text-align: center;
    line-height: 32px;
    text-decoration: none;
    cursor: pointer;
}

.recomended-books-item-text-block > .add-book:hover,
.user-settings .save-user-settings:hover {
    background: #19BD9B;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    -moz-transition: all 0.2s;
}

.recomended-book {
    visibility: hidden;
}

.recomended-book.slick-slider {
    padding: 0 15px;
}
.recomended-books-block .slick-next {
    right: 0;
}

.recomended-books-block .slick-prev {
    left: 0;
}

.recomended-books-block .slick-prev,
.recomended-books-block .slick-next {
    width: 15px;
}