#statistics-page .statistics-menu {
    border-top: 1px solid #293136;
    padding: 5px;
}

#statistics-page h1 {
    text-transform: uppercase;
    font-size: 20px;
    color: #293136;
    margin-bottom: 5px;
    font-family: 'Avenir';
}

#statistics-page .statistics-menu ul {
    list-style: none;
    text-align: right;
}

#statistics-page .statistics-menu ul li {
    display: inline-block;
    margin-left: 30px;
}

#statistics-page .statistics-menu ul li a {
    text-decoration: none;
    font-size: 15px;
    color: #aaa;
}

#statistics-page .statistics-menu ul li.active a {
    color: #149077;
}

.statistics-subtitle {
    color: #333;
    font-size: 15px;
    font-family: 'Avenir-Medium';
    margin: 30px 0 20px;
}
.murkups-count {
    padding: 0 0 30px;
    border-bottom: 1px solid #e1e1e1;
}
.added-murkups-section,.added-murkups {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    -khtml-align-items: cemter;
    align-items: center;
}
.added-murkups-section {
    width: 90%;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -o-justify-content: space-between;
    -khtml-justify-content: space-between;
    justify-content: space-between;
}
.added-murkups {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: -5px 0 19px rgba(0, 0, 0, .2);
    text-align: center;
    color: #009966;
    -webkit-flex-direction:column;
    -moz-flex-direction:column;
    -ms-flex-direction:column;
    -o-flex-direction:column;
    -khtml-flex-direction:column;
    flex-direction:column;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    -khtml-justify-content: center;
    justify-content: center;

}

.added-murkups:last-of-type {
    width: 150px;
    height: 150px;
    font-size: 32px;
}

#compare #friendsDiv{
    width: 100%;
    background-color: #d7d7d7;
    text-align: right;
    position: relative;
    color:#0f0f0f;
    border: 0;
    border-radius: 20px;
    padding-right: 9px;
    line-height: 30px;
}

#compare #userDiv{
    height: 30px;
}
#compare {
    width: 98%;
    margin-bottom: 25px;
}
#compare #userDiv{
    background-color: #19bd9b;;
    position: absolute;
    top:0;
    color: #fff;
    border-left: 0;
    border-radius: 20px;
    padding-right: 9px;
}


