@font-face {
    font-family: 'custom-font';
    src: url('../fonts/custom-font.eot?39278683');
    src: url('../fonts/custom-font.eot?39278683#iefix') format('embedded-opentype'),
    url('../fonts/custom-font.woff?39278683') format('woff'),
    url('../fonts/custom-font.ttf?39278683') format('truetype'),
    url('../fonts/custom-font.svg?39278683#custom-font') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome-webfont.eot?v=3.0.1');
    src: url('../fonts/fontawesome-webfont.eot?#iefix&v=3.0.1') format('embedded-opentype'),
    url('../fonts/fontawesome-webfont.woff?v=3.0.1') format('woff'),
    url('../fonts/fontawesome-webfont.ttf?v=3.0.1') format('truetype');
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'georgia-bold';
    src: url('../fonts/georgian/georgia-bold.eot');
    src: url('../fonts/georgian/georgia-bold.woff') format('woff'),
    url('../fonts/georgian/georgia-bold.ttf') format('truetype'),
    url('../fonts/georgian/georgia-bold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BelgranoRegular';
    src: url('../fonts/belgrano/Belgrano-Regular.eot'),
    url('../fonts/belgrano/Belgrano-Regular.woff') format('woff'),
    url('../fonts/belgrano/Belgrano-Regular.ttf') format('truetype'),
    url('../fonts/belgrano/Belgrano-Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir';
    src: url('../fonts/new/Avenir-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'Avenir-Medium';
    src: url('../fonts/new/Avenir-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: AvenirLight;
    src: url('../fonts/new/Avenir-Light.ttf') format('truetype');
}

@font-face {
    font-family: AvenirBook;
    src: url('../fonts/new/Avenir-Book.ttf') format('truetype');
}

@font-face {
    font-family: 'AvenirNext-Medium';
    src: url('../fonts/new/AvenirNext-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal
}

header {
    height: 200px;
    background-color: #293136;
    color: white;;
}

.logo {
    width: 120px;
    float: left;
    margin-right: 15px;
}

.header {
    padding: 20px;
    margin-left: 5%;
}

h1 {
    padding-top: 8px;
    font: normal 50px/50px 'BelgranoRegular';
    margin-bottom: 10px;
}

.header > span {
    font: normal 20px/22px 'AvenirBook';
    padding-top: 20px;
    display: block;
    letter-spacing: 2px;
}

header, footer {
    height: 160px;
}

.body {
    height: 500px;
    background: url(../img/background.jpg) no-repeat;
    width: 100%;
    min-width: 1000px;
    background-repeat: round;
}

h1 {
    margin: 0;
    overflow: hidden;
}

body {
    margin: 0;
    min-width: 1221px;;
}

section {
    position: relative;
    float: right;
    margin-right: 5%;
}

.loginSection {
    background-color: rgba(0, 0, 0, 0.3);
    width: 27%;
    margin-top: 50px;
    padding: 0 0 20px 0;
}

.resetPasswordForm-item {
    width: 87% !important;
    margin: 15px auto !important;
}

.reg-field {
    height: 43px;
    background-color: white;
    margin-top: 15px;
}

.form-input {
    margin-top: 6px;
    height: 30px;
    border: none;
    outline: none;
    width: 88%;
    float: right;
}

.u-icon {
    background: url(../img/icons/user_logo.png) no-repeat;
}

.p-icon {
    background: url(../img/icons/pass_logo.png) no-repeat;
}

.em-icon {
    background: url(../img/icons/email-logo.png) no-repeat;
}

.u-icon, .p-icon, .em-icon {
    width: 20px;
    height: 20px;
    background-repeat: round;
    position: absolute;
    margin: 11px 7px;
}

.reg-field > label, .reg-passord .label {
    position: absolute;
    margin-left: 55px;
    text-transform: uppercase;
    color: grey;
    margin-top: 18px;
    cursor: auto;
    font: normal 14px/14px 'AvenirLight';
    width: 30%;
}

.reg-passord > .reg-field {
    width: 48%;
}

.reg-passord .label {
    width: 48%;
}

.reg-passord .form-input {
    width: 75%;
}

#re_password {
    width: 92%;
}

.right > label {
    margin-left: 20px;
}

.reg-passord .right {
    float: right;
}

.reg-passord .left {
    float: left;
}

.remember {
    position: absolute;
    float: left;
}

.fPass {
    float: right;
    text-transform: uppercase;
}

.signIn {
    margin: 0 auto;
    width: 88%;
}

.signInFooter {
    width: 88%;
    margin: 0 auto;
    padding-top: 15px;
    padding-bottom: 20px;
}

.remember input:checked + i:after {
    opacity: 1;
}

.remember input + i:after {
    content: '\f00c';
    top: 2px;
    left: 2px;
    width: 11px;
    height: 11px;
    font: normal 13px/13px 'FontAwesome';
    text-align: center;
    position: absolute;
    opacity: 0;
    color: #ffffff;
    -ms-transition: opacity .1s;
    -moz-transition: opacity .1s;
    -webkit-transition: opacity .1s;

}

.signInTop > span {
    color: #fff;
    font: normal 15px/20px AvenirLight
}

.signInTop > p {
    color: #fff;
    font: normal 18px/25px Avenirbook;
    text-transform: initial;
    letter-spacing: 1px;
}

.signInTop {
    width: 88%;
    margin-left: 6%;
    text-align: -webkit-right;
    text-align: right;
    text-transform: uppercase;
    margin-top: 10px;
    overflow: hidden;
}

#checkBox {
    border: 2px solid #fff;
    width: 14px;
    height: 14px;
    display: block;
}

.remember > label {
    position: absolute;
    top: 0;
    left: 28px;
    width: 113px;
    color: #fff;
    cursor: pointer;
    font: normal 12px/21px 'AvenirBook';
    text-transform: uppercase;
}

.fPass > a {
    color: #fff;
    font: normal 12px/13px 'AvenirBook';
}

.button-submit {
    border: none;
    background-color: #b3b3b3;
    margin-top: 15px;
    width: 48%;
    height: 43px;
    color: white;
    text-transform: uppercase;
    font: normal 18px/21px 'AvenirBook';
}

.right {
    float: right;
}

.button-submit:hover {
    cursor: pointer;
    background-color: #00bd9c;
}

.active {
    background-color: #00bd9c;
}

input[type=text] {
/ / display: none;
}

.social-icon {
    width: 45px;
    height: 45px;
    float: right;
    margin-left: 15px;
    color: white;
    text-align: center;
    text-decoration: none
}

.social-icon:hover {
    font: normal 25px/30px 'FontAwesome';
}

.icon-fb:after {
    content: "\f09a";
    font: normal 25px/45px 'FontAwesome';
}

.ficon-fb:after {
    content: "\f09a";
    font: normal 25px/45px 'FontAwesome';
}

.icon-fb:hover {
    background-color: #3b5998;
}

.social p {
    color: white;
    float:left;
    font: normal 15px/20px 'AvenirBook';
    font-style: italic;
}

.social {
    width: 88%;
    padding-top: 15px;
    margin: auto;
    height: 45px;
    overflow: hidden;
}

.footerSocial-icon {
    width: 45px;
    height: 45px;
    display: inline;
    margin-right: 25px;
    color: #6e6e6e;
    text-align: center;
    text-decoration: none;
}

.google {
    background-color: #ed1c24;
}

.twitter {
    background-color: #099fdf;
}

.facebook {
    background-color: #3b5998;
}

.icon-tw:after {
    content: "\f099";
    font: normal 25px/45px 'FontAwesome';
}

.ficon-tw:after {
    content: "\f099";
    font: normal 25px/45px 'FontAwesome';
}

.icon-tw:hover {
    background-color: #099fdf;
}

.icon-gp:after {
    content: "\f0d5";
    font: normal 25px/45px 'FontAwesome';
}

.ficon-gp:after {
    content: "\f0d5";
    font: normal 25px/45px 'FontAwesome';
}

.field-error {
    position: absolute;
    left: -185px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 16px;
    color: white;
    font: normal 12px/18px 'AvenirLight';
    max-width: 125px;
}

.notify-tooltip {
    position: absolute;
    left: -275px;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 16px;
    color: black;
    font: normal 14px/18px 'AvenirLight';
    width: 200px;
    margin-top: -20px;
    min-height: 54px;
}

.buttons .notify-tooltip-error {
    position: absolute;
    left: -275px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 16px;
    color: white;
    font: normal 14px/18px 'AvenirLight';
    width: 200px;
    margin-top: 15px;
}

.notify-tooltip-error {
    position: absolute;
    left: -275px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 16px;
    color: white;
    font: normal 14px/18px 'AvenirLight';
    width: 200px;
    margin-top: 15px;
}

.buttons {
    width: 88%;
    margin: 0 auto;
}

.rect {
    position: absolute;
    width: 0;
    height: 0;
    border-top: 25px solid transparent;
    border-left: 24px solid rgba(0, 0, 0, 0.5);
    border-bottom: 25px solid transparent;
    right: -24px;
    top: 0;
}

.notify-tooltip > .rect {
    border-left: 24px solid rgba(255, 255, 255, 0.5);
    top: 36px;
}

.leftSection {
    position: relative;
    float: left;
    width: 48%;
    height: 350px;
    margin-left: 5%;
    margin-top: 50px;
}

.leftSection div {
    color: #fff;
    font: normal 20px/40px AvenirLight;
    text-transform: uppercase;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.3)
}

.leftSection div #someText {
    padding: 10px;
}

.biger {
    font-size: 24px;
}

.leftSection input {
    width: 130px;
}

/************FOOTER************/

.footer {
    font-family: "Avenir-Medium";
    width: 100%;
    min-width: 1220px;
    float: left;
    background: #d7d7d7;
    padding-top: 10px;
}

.contactUs {
    width: 29%;
    float: left;
    margin-left: 2%;
}

.contactUs span {
    display: block;
    margin-left: 40px;
    color: #000000;
    font-size: 20px;
    padding-top: 10px;
}

.contactUs a {
    line-height: 24px;
    color: #393939;
}

.contactUs ul {
    padding: 0;
}

.contactUs ul li {
    list-style: none;
    width: 200px;
    margin-left: 40px;

}

.secondBlock {
    width: 33%;
    float: left;
    margin-left: 4%;
}

.secondBlock #firstDiv, #follow {
    display: block;
    color: #000000;
    font-size: 20px;
    padding-top: 10px;
    font-family: "Avenir-Medium";
}

.googleImg {
    display: inline-block;
    overflow: hidden;
    width: 121px;
    height: 44px;
    margin-top: 15px;
    margin-right: 15px;
}

.googleImg a img {
    width: 100%;
    height: 100%;
}

.footer .newsletter {
    width: 24%;
    float: left;
    margin-top: 10px;
    padding: 20px;
    border: 3px solid #b7b7b7;
    position: relative;
}

.footer .newsletter .newsletter-title {
    display: block;
    color: #000000;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    font-family: 'BelgranoRegular';
}

.footer .newsletter #textInput {
    width: 96%;
    height: 40px;
    outline: none;
    border: none;
    padding-left: 4%;
    margin-top: 10px;
}

#discover_subscribe {
    width: 100%;
}

.newsletter .button-submit {
    border: none;
    background-color: #b3b3b3 !important;
    margin-top: 15px;
    width: 48%;
    height: 43px;
    color: white;
    text-transform: uppercase;
    font: normal 18px/21px 'AvenirBook';
}

.newsletter .button-submit:hover {
    background-color: #19BD9B !important;
    cursor: pointer;
}

.footerLine {
    width: 100%;
    height: 40px;
    background: #b7b7b7;
    float: left;
    color: #000000;
    text-align: center;
    line-height: 40px;
    font-family: "Avenir";
    margin-top: 15px;
}

.signIn > .comfirm-email {
    text-align: right;
    color: #fff;
    font: normal 18px/25px Avenirbook;
    text-transform: initial;
    letter-spacing: 1px;
}

/*****Discover newsletter styles****/

.notify-tooltip-error {
    position: absolute;
    left: -275px !important;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 16px !important;
    color: white !important;
    font: normal 14px/18px 'AvenirLight';
    width: 200px !important;
    margin-top: 15px !important;
}

.rect {
    position: absolute;
    width: 0;
    height: 0;
    border-top: 25px solid transparent;
    border-left: 24px solid rgba(0, 0, 0, 0.5);
    border-bottom: 25px solid transparent;
    right: -24px;
    top: 0;
}

.newsletter > p {
    text-align: center;
    color: rgb(103, 103, 103);
    font-size: 20px;
}

.footerSocial-icon .ficon-fb:hover {
    color: #3b5998;
}

.footerSocial-icon .ficon-tw:hover {
    color: #099fdf;
}

.footerSocial-icon .ficon-gp:hover {
    color: #ed1c24;
}
