{% extends '::base.html.twig' %}

{% block body %}
    <div class="body" data-ng-controller="loginController">
        <section class="leftSection">
            <div>
                <div id="someText">
                    <b class="biger">y</b>otta<b class="biger">b</b>ook is a dream of two passionate readers
                    that love reading while listening to music.
                    <b class="biger">t</b>hen they decide to turn dream into reality
                    and meet a strong team of seasoned developers ...
                </div>
            </div>
            <input type="button" onclick="location.href='/discover'" class="button-submit  left active" value="DISCOVER">
        </section>
        <section class="loginSection">
            <form action="" name="loginForm">
                <div class="signInTop">
                    <span>Connect and join {{ is }} <br/>the incredible world of <br/> yottabook</span>
                </div>
                <div class="signIn">
                    <div class="reg-field">
                        <span class="field-error" id="error_name" hidden
                              ng-show='loginForm.name.$dirty && loginForm.name.$error.minlength || loginForm.name.$touched && loginForm.name.$invalid || loginForm.name.$dirty && loginForm.name.$invalid'>Username must  be minimum 6 characters <span
                                    class="rect"> </span></span>
                        <span class="u-icon"></span>
                        {#<label for="r_username">username</label>#}
                        <input type="text" id="r_username" name="name" ng-model="user.name" data-ng-keyup="$event.keyCode == 13 ? login(user) : changeVal('name')"
                               ng-minlength="6"
                               required class="form-input" value="" placeholder="USERNAME" >
                    </div>
                    <div class="reg-field">
                        <span class="field-error" id="error_password" hidden
                              ng-show='loginForm.password.$dirty && loginForm.password.$error.minlength || loginForm.password.$touched && loginForm.password.$invalid'>Password must  be minimum 6 characters<span
                                    class="rect"> </span></span>
                        <span class="p-icon"></span>
                        {#<label for="r_password">password</label>#}
                        <input type="password" id="r_password" name="password" data-ng-keyup="event.keyCode == 13 ? login(user) : changeVal('password')"
                               ng-model="user.password" ng-minlength="6"
                               required class="form-input" value="" size="22" placeholder="PASSWORD" >
                    </div>
                </div>
                <div class="signInFooter">
                    <div class="remember"><input id="remember" hidden ng-model="remember" type="checkbox"><i
                                data-ng-click="remember=remember?false:true"></i><span id="checkBox"
                                                                                 data-ng-click="remember=remember?false:true"></span>
                        <label for="remember">Remember me</label></div>
                    <div class="fPass"><a href="/forgot">Forgot password ? </a></div>
                </div>
                <div class="buttons">
                    {% if tw_login_error %}
                        <span class="notify-tooltip-error" ><span>{{ tw_login_error }}
                            </span><span
                                    class="rect"> </span></span>
                    {% endif %}
                     <span class="notify-tooltip-error" hidden><span ng-bind="error"></span><span
                                 class="rect"> </span></span>
                    <input type="button" onclick="location.href='/registration'" class="button-submit  left"
                           value="Sign up">
                    <input type="button" data-ng-click="show=login(user)" class="button-submit  right active" value="login">
                </div>
                <div class="social">
                    <p>or join with </p>
                    <a href="" data-ng-click="gp_login()"  class="social-icon icon-gp google"  ></a>
                    <a href="/twitter" class="social-icon icon-tw twitter" ></a>
                    <a href="" data-ng-click="fb_login()"  class="social-icon icon-fb facebook"></a>
                </div>
            </form>
        </section>
    </div>
    {#{% include 'YottaBundle:Default:footer.html.twig' %}#}
{% endblock %}
