{% extends '::base.html.twig' %}

{% block body %}

    <div class="body" ng-controller="registrController">
        <section class="leftSection">
            <div>
                <div id="someText">
                    <b class="biger">y</b>otta<b class="biger">b</b>ook is a dream of two passionate readers
                    that love reading while listening to music.
                    <b class="biger">t</b>hen they decide to turn dream into reality
                    and meet a strong team of seasoned developers ...
                </div>
            </div>
            <input type="button" onclick="location.href='/timeline'" class="button-submit  left active" value="DISCOVER">
        </section>
        <section class="loginSection">
            <form action="" name="registrForm">
                <div class="signInTop">
                    <span>Connect and join  <br/>the incredible world of <br/> yottabook</span>
                </div>
                <div class="signIn">
                    <div class="reg-field">
                        <span class="field-error" hidden id="error_name"
                              ng-show='showtext || registrForm.name.$dirty && registrForm.name.$error.minlength || registrForm.name.$touched && registrForm.name.$invalid'>Username must  be minimum 6 characters<span
                                    class="rect"> </span></span>
                        <span class="u-icon"></span>
                        {#<label for="r_username">username</label>#}
                        <input type="text"  id="r_username" name="name" ng-model="user.name"
                               ng-change="changeVal('name')" ng-minlength="6"
                                 required class="form-input" value="" size="22" placeholder="USERNAME">
                    </div>
                    <div class="reg-field">
                        <span class="field-error" hidden id="error_email">Invalid Email<span class="rect"> </span></span>
                        <span class="em-icon"></span>
                        {#<label for="r_email">email   </label>#}
                        <input type="text"  id="r_email" name="email" ng-model="user.email"
                               ng-change="changeValEmail('email')" required class="form-input" value="" size="50" placeholder="EMAIL">
                    </div>
                    <div class="reg-passord">
                        <div class="reg-field left">
                            <span class="field-error" hidden id="error_password"
                                  ng-show='registrForm.password.$dirty  && registrForm.password.$error.minlength || registrForm.password.$error.maxlength || registrForm.password!==registrForm.repassword' >
                                <span ng-bind ="error_text"></span>
                                <span class="rect"> </span></span>
                            <span class="p-icon"></span>
                            {#<label for="r_password">password</label>#}
                            <input type="password"  id="r_password" name="password" ng-change="changeVal('password')"
                                   ng-model="user.password" ng-minlength="6"
                                     required class="form-input" value="" size="22" placeholder="PASSWORD">
                        </div>
                        <div class="reg-field right">
                            {#<label for="re_password">repeat</label>#}
                            <input type="password"  id="re_password" name="re-password"
                                   ng-change="changeValRepass(user)" ng-model="user.repassword"  class="form-input"
                                   value="" size="22" placeholder="REPEAT">
                        </div>
                    </div>
                </div>
                <div class="buttons">
                    <span class="notify-tooltip" hidden>You are almost there.  Please check your email and confirm  the<span class="rect"> </span></span>
                    <span class="notify-tooltip-error" hidden>User already exists<span class="rect"> </span></span>
                    <input type="button" class="button-submit left active" ng-click="registration(user)" value="Sign up">
                    <input type="button"  class="button-submit right" onclick="location.href='/login'" value="Login">
                </div>
                <div class="social">
                    <p>or join with </p>
                    <a href="" ng-click="gp_login()"  class="social-icon icon-gp google" ></a>
                    <a href="/twitter" class="social-icon icon-tw twitter" ></a>
                    <a href="" ng-click="fb_login()"  class="social-icon icon-fb facebook"></a>
                </div>
            </form>
        </section>
    </div>
{% endblock %}